force-app/main/default/flows/AutoRecordFromCargoToManyObjectsForParts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Auto record from Cargo to Many Objects for Parts {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Auto record from Cargo to Many Objects for Parts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Application+Cargo for Part Cargo Record</description>
        <name>CreateApplicationCargoforPart</name>
        <label>Create Application+Cargo for Part</label>
        <locationX>661</locationX>
        <locationY>232</locationY>
        <inputAssignments>
            <field>ApplicationID__c</field>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoID__c</field>
            <value>
                <elementReference>varCargoPart.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Application+Contract Record with Contract Number for Mail Body</description>
        <name>GetApplicationContractRecordForMainBody</name>
        <label>Get Application+Contract Record for Main Body</label>
        <locationX>400</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCargo_ecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargoPart.ContractNumber__c</elementReference>
            </value>
        </filters>
        <object>ApplicationContract__c</object>
        <outputAssignments>
            <assignToReference>varApplicationId</assignToReference>
            <field>Application__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varContractId</assignToReference>
            <field>Contract__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>flow for part cargo</description>
        <name>GetCargoRecord</name>
        <label>Get Cargo Record</label>
        <locationX>20</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductCodeFromProductName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recrodId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BodyPartClassification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Part</stringValue>
            </value>
        </filters>
        <object>Cargo__c</object>
        <outputReference>varCargoPart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>InvoiceTo__c</queriedFields>
        <queriedFields>CompanyDeliveryAddress__c</queriedFields>
        <queriedFields>DeliveryAddressNew__c</queriedFields>
        <queriedFields>ExpectedInboundDate__c</queriedFields>
        <queriedFields>ExpectedOutboundDate__c</queriedFields>
        <queriedFields>SerialNumber__c</queriedFields>
        <queriedFields>ItemNumber__c</queriedFields>
        <queriedFields>LotNumber__c</queriedFields>
        <queriedFields>PartNumber__c</queriedFields>
        <queriedFields>PICDelivderyAddress__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CorporateMyNumber__c</queriedFields>
        <queriedFields>PlanName__c</queriedFields>
        <queriedFields>DataUpload__c</queriedFields>
        <queriedFields>DeliveryAddress__c</queriedFields>
        <queriedFields>ContractNumber__c</queriedFields>
        <queriedFields>ProductName__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetProductCodeFromProductName</name>
        <label>Get Product Code from Product Name</label>
        <locationX>142</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductRecordFromProductCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargoPart.ProductName__c</elementReference>
            </value>
        </filters>
        <object>PRODUCT__c</object>
        <outputAssignments>
            <assignToReference>varProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Product Record with Product Name or Product Code</description>
        <name>GetProductRecordFromProductCode</name>
        <label>Get Product Record From Product Code</label>
        <locationX>266</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetApplicationContractRecordForMainBody</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargoPart.Product_Code__c</elementReference>
            </value>
        </filters>
        <object>PRODUCT__c</object>
        <outputAssignments>
            <assignToReference>varProductId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCargo_ecord</name>
        <label>Update Cargo Record</label>
        <locationX>532</locationX>
        <locationY>231</locationY>
        <connector>
            <targetReference>CreateApplicationCargoforPart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargoPart.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Cargo__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCargoRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recrodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCargoPart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cargo__c</objectType>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
