force-app/main/default/flows/Auto_Set_Unit_Price_of_Buying.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Adjust Formula for calculating unit price</description>
    <formulas>
        <name>DifferenceAmountFCY</name>
        <dataType>Number</dataType>
        <expression>{!AmountBuyingInclTaxFCYInput}-({!UnitPriceofBuyingFCY}*(1+{!BuyingTaxRate}/100)*{!ChargeQuantity})</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>DifferenceAmountLocal</name>
        <dataType>Currency</dataType>
        <expression>{!AmountBuyingInclTaxLocalInput}-({!UnitPriceOfBuyingLocal}*(1+{!BuyingTaxRate}/100)*{!ChargeQuantity})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>UnitPriceofBuyingFCY</name>
        <dataType>Number</dataType>
        <expression>{!AmountBuyingInclTaxFCYInput} / ((1+({!BuyingTaxRate}/100)) * {!ChargeQuantity})</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>UnitPriceOfBuyingLocal</name>
        <dataType>Currency</dataType>
        <expression>{!AmountBuyingInclTaxLocalInput}/((1+({!BuyingTaxRate}/100))*{!ChargeQuantity})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Auto Set Unit Price of Buying {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Auto Set Unit Price of Buying</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bill</name>
        <label>Get Bill</label>
        <locationX>143</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AnkenMeisai__c</object>
        <outputAssignments>
            <assignToReference>AmountBuyingInclTaxFCYInput</assignToReference>
            <field>AmountBuyingIncTaxFCYInput__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AmountBuyingInclTaxLocalInput</assignToReference>
            <field>AmountBuyingIncTaxLocalInput__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>BuyingTaxRate</assignToReference>
            <field>BuyTaxInitial__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AmountBuyingInclTaxLocal</assignToReference>
            <field>SellInTaxAmountJPY__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AmountBuyingInclTaxFCY</assignToReference>
            <field>SellInTaxAmount_USD__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ChargeQuantity</assignToReference>
            <field>Suryo__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update Unit Price of Buying</label>
        <locationX>402</locationX>
        <locationY>237</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bill</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>UnitPriceOfBuyingLocal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>UnitPriceofBuyingFCY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TAX_ADJUSTMENT__c</field>
            <value>
                <elementReference>DifferenceAmountLocal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>USDTaxAdjustment__c</field>
            <value>
                <elementReference>DifferenceAmountFCY</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Bill</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AmountBuyingInclTaxFCY</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>AmountBuyingInclTaxFCYInput</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>AmountBuyingInclTaxLocal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AmountBuyingInclTaxLocalInput</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BuyingTaxRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>8</scale>
    </variables>
    <variables>
        <name>ChargeQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SellingTaxRate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
