force-app/main/default/flows/AutoRecordFromCargoManyObjects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Data_Upload</name>
        <label>Data Upload</label>
        <locationX>623</locationX>
        <locationY>297</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Upload_By_Tool</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCargo.DataUpload__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application</targetReference>
            </connector>
            <label>Data Upload by Tool</label>
        </rules>
    </decisions>
    <description>Add auto set Plan ID in Contract.</description>
    <interviewLabel>Auto record from Cargo to Application, Contract, Goods S/O and P/O {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Auto record from Cargo to Many Objects for Main Body</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application</name>
        <label>Create Application</label>
        <locationX>638</locationX>
        <locationY>452</locationY>
        <assignRecordIdToReference>varApplicationId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Application_Cargo</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Application__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Cargo</name>
        <label>Create Application+Cargo</label>
        <locationX>799</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>ApplicationID__c</field>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CargoID__c</field>
            <value>
                <elementReference>varCargo.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationCargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Contract</name>
        <label>Create Application+Contract</label>
        <locationX>943</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Create_Sales_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>varApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <object>ApplicationContract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>831</locationX>
        <locationY>306</locationY>
        <assignRecordIdToReference>varContractId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Application_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractorName__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PICOfContractor__c</field>
            <value>
                <elementReference>varCargo.PICDelivderyAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>varPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductID__c</field>
            <value>
                <elementReference>varCargo.Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchasing_Order</name>
        <label>Create Purchasing Order</label>
        <locationX>1235</locationX>
        <locationY>321</locationY>
        <assignRecordIdToReference>varPurchasingOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Purchasing_Order_Cargo</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractID__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryTargetDateToCustomer__c</field>
            <value>
                <elementReference>varCargo.ExpectedOutboundDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlannedQuantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductID__c</field>
            <value>
                <elementReference>varCargo.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrderID__c</field>
            <value>
                <elementReference>varSalesorderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shippingaddress__c</field>
            <value>
                <elementReference>varCargo.DeliveryAddress__c</elementReference>
            </value>
        </inputAssignments>
        <object>GoodsPurchasingOrder__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchasing_Order_Cargo</name>
        <label>Create Purchasing Order+Cargo</label>
        <locationX>1334</locationX>
        <locationY>469</locationY>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>varCargo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoodsPO__c</field>
            <value>
                <elementReference>varPurchasingOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>PO_Cargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_Order</name>
        <label>Create Sales Order</label>
        <locationX>1049</locationX>
        <locationY>329</locationY>
        <assignRecordIdToReference>varSalesorderId</assignRecordIdToReference>
        <connector>
            <targetReference>create_Sales_Order_Cargo</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractID__c</field>
            <value>
                <elementReference>varContractId</elementReference>
            </value>
        </inputAssignments>
        <object>SALES_ORDER__c</object>
    </recordCreates>
    <recordCreates>
        <name>create_Sales_Order_Cargo</name>
        <label>create Sales Order+Cargo</label>
        <locationX>1140</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Purchasing_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Cargo__c</field>
            <value>
                <elementReference>varCargo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoodsSO__c</field>
            <value>
                <elementReference>varSalesorderId</elementReference>
            </value>
        </inputAssignments>
        <object>SO_Cargo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cargo_Record</name>
        <label>Get Cargo Record</label>
        <locationX>175</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BodyPartClassification__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Main Body</stringValue>
            </value>
        </filters>
        <object>Cargo__c</object>
        <outputReference>varCargo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Plan__c</queriedFields>
        <queriedFields>InvoiceTo__c</queriedFields>
        <queriedFields>CompanyDeliveryAddress__c</queriedFields>
        <queriedFields>DeliveryAddressNew__c</queriedFields>
        <queriedFields>ExpectedInboundDate__c</queriedFields>
        <queriedFields>ExpectedOutboundDate__c</queriedFields>
        <queriedFields>SerialNumber__c</queriedFields>
        <queriedFields>ItemNumber__c</queriedFields>
        <queriedFields>LotNumber__c</queriedFields>
        <queriedFields>PartNumber__c</queriedFields>
        <queriedFields>PICDelivderyAddress__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CorporateMyNumber__c</queriedFields>
        <queriedFields>PlanName__c</queriedFields>
        <queriedFields>DataUpload__c</queriedFields>
        <queriedFields>DeliveryAddress__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get account with Corporate My Number</description>
        <name>GetAccounts</name>
        <label>Get Accounts</label>
        <locationX>293</locationX>
        <locationY>465</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPlanwithPlanName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CorporateMyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargo.CorporateMyNumber__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>get Plan ID with Plan Name</description>
        <name>GetPlanwithPlanName</name>
        <label>Get Plan with Plan Name</label>
        <locationX>413</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCargowithAccountIdPlanId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PlanName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargo.PlanName__c</elementReference>
            </value>
        </filters>
        <object>Plan__c</object>
        <outputAssignments>
            <assignToReference>varPlanId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductId</assignToReference>
            <field>Product__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCargowithAccountIdPlanId</name>
        <label>Update Cargo with AccountId and Plan Id</label>
        <locationX>487</locationX>
        <locationY>289</locationY>
        <connector>
            <targetReference>Data_Upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCargo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CompanyDeliveryAddress__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plan__c</field>
            <value>
                <elementReference>varPlanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varProductId</elementReference>
            </value>
        </inputAssignments>
        <object>Cargo__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Cargo_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>SellingOpenEnded</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCargo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Cargo__c</objectType>
    </variables>
    <variables>
        <name>varContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPurchasingOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSalesorder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SALES_ORDER__ChangeEvent</objectType>
    </variables>
    <variables>
        <name>varSalesorderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
