force-app/main/default/flows/CheckDuplicatedSealNoContainerGoodSO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Have_duplicate_or_not</name>
        <label>Have duplicate or not?</label>
        <locationX>356</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>duplicatefalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetduplicateContainerrecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_duplicate_null</targetReference>
            </connector>
            <label>duplicate false</label>
        </rules>
        <rules>
            <name>Duplicate_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetduplicateContainerrecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateContainerduplicatefield</targetReference>
            </connector>
            <label>Duplicate = true</label>
        </rules>
    </decisions>
    <interviewLabel>Check Duplicated Seal No (Container Good S/O) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Check Duplicated Seal No (Container Good S/O)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetduplicateContainerrecord</name>
        <label>Get duplicate Container record</label>
        <locationX>177</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_duplicate_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GOODSSO__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.clofor_com_cfs__GOODSSO__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContainerGoodSO__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_duplicate_null</name>
        <label>Update duplicate = null</label>
        <locationX>556</locationX>
        <locationY>490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>duplicateIDcontno__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ContainerGoodSO__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContainerduplicatefield</name>
        <label>Update Container duplicate field</label>
        <locationX>558</locationX>
        <locationY>354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>duplicateIDSealNo__c</field>
            <value>
                <elementReference>GetduplicateContainerrecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContainerGoodSO__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetduplicateContainerrecord</targetReference>
        </connector>
        <object>clofor_com_cfs__ContainerGoodSO__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
