force-app/main/default/flows/CloTRSBillAmountUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The CloTRSBillAmountUpdate-3 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke CloTRSBillAmountUpdate-3, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kwon@afr-solutions.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The CloTRSBillAmountUpdate-3 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke CloTRSBillAmountUpdate-3, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kwon@afr-solutions.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>SObject.ChargeUnitTotal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Charge Quantity  not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Make a template to have detail error email</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c *
([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellUSD__c - [clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmountFCY__c) 
*[clofor_com_cfs__TRSBill__c].clofor_com_cfs__TaxRatioSell__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6838480966</name>
        <dataType>Number</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} *
({!SObject.UnitPriceOfSellUSD__c} - {!SObject.DiscountAmountFCY__c}) 
*{!SObject.TaxRatioSell__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c *
([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellLocal__c -[clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmount__c )
*[clofor_com_cfs__TRSBill__c].clofor_com_cfs__TaxRatioSell__c</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_9797311737</name>
        <dataType>Currency</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} *
({!SObject.UnitPriceOfSellLocal__c} -{!SObject.DiscountAmount__c} )
*{!SObject.TaxRatioSell__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c 
*([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellUSD__c - [clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmountFCY__c) 
*(1+[clofor_com_cfs__TRSBill__c].clofor_com_cfs__TaxRatioSell__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_6925763857</name>
        <dataType>Number</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} 
*({!SObject.UnitPriceOfSellUSD__c} - {!SObject.DiscountAmountFCY__c}) 
*(1+{!SObject.TaxRatioSell__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c *([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellLocal__c - [clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmount__c )
*( 1+ [clofor_com_cfs__TRSBill__c].clofor_com_cfs__TaxRatioSell__c )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_5077807326</name>
        <dataType>Currency</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} *({!SObject.UnitPriceOfSellLocal__c} - {!SObject.DiscountAmount__c} )
*( 1+ {!SObject.TaxRatioSell__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c *
([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellUSD__c - [clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmountFCY__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_4504783970</name>
        <dataType>Number</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} *
({!SObject.UnitPriceOfSellUSD__c} - {!SObject.DiscountAmountFCY__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].clofor_com_cfs__GoodsSOProduct__c.clofor_com_cfs__FinalQuantity__c *
([clofor_com_cfs__TRSBill__c].clofor_com_cfs__UnitPriceOfSellLocal__c -[clofor_com_cfs__TRSBill__c].clofor_com_cfs__DiscountAmount__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A1_4749299253</name>
        <dataType>Currency</dataType>
        <expression>{!SObject.GoodsSOProduct__r.FinalQuantity__c} *
({!SObject.UnitPriceOfSellLocal__c} -{!SObject.DiscountAmount__c} )</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>CloTRSBillAmountUpdate-3_InterviewLabel</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>CloTRS Bill-Update Amount to S/O+Product</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>TRSBill__c</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>TRSBill__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>DiscountAmountFCY__c</queriedFields>
        <queriedFields>GoodsSOProduct__c</queriedFields>
        <queriedFields>UnitPriceOfSellUSD__c</queriedFields>
        <queriedFields>UnitPriceOfSellLocal__c</queriedFields>
        <queriedFields>ChargeUnitTotal__c</queriedFields>
        <queriedFields>DiscountAmount__c</queriedFields>
        <queriedFields>TaxRatioSell__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__TRSBill__c].Goods S/O+Product</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update amount</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.GoodsSOProduct__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Amount of Selling Tax(FCY)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AmountOfSellingTaxFCY__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6838480966</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Amount of Selling Tax(Local)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>AmountOfSellingTax__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_9797311737</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Selling Amount incl Tax(FCY)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SellingAmountInclTaxFCY__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_6925763857</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Selling Amount incl Tax(Local)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>SellingAmountInclTax__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_5077807326</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total Amount of Selling(FCY)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TotalAmountOfSellingFCY__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_4504783970</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total Amount of Selling(Local)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TotalAmountOfSelling__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A1_4749299253</elementReference>
            </value>
        </inputAssignments>
        <object>SalesOrderProduct__c</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TRSBill__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
