force-app/main/default/flows/ConnectcontainerseparateitinSO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_value_to_showtext</name>
        <label>Assign value to showtext</label>
        <locationX>1079</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.Container_NO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.Seal_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.Container__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Containerdetailforupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrossWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GrossWeightConvertDecimal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrossWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> KGS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CBM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CBMConvertDecimal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CBM</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> CBM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoofPackageorContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.QUANTITY_PACKAGES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoofPackageorContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoofPackageorContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.CargoTypeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoofPackageorContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>(s)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NoofPackageorContainer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GrossWeight</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CBM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VGM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalVGM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VGM</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> KGS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VGM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalVGM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop2.Verified_Gross_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigntoFTMSSO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoFTMSSO</name>
        <label>Assign to F/TMS S/O</label>
        <locationX>868</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.ContainerDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Containerdetailforupdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.Gross_Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GrossWeight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.Measurement_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CBM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.No_of_Package_or_Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoofPackageorContainer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.V_G_M__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VGM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_FTMS_SO.TotalVGM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalVGM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignvaluetoshowtext</name>
        <label>Assign value to showtext</label>
        <locationX>559</locationX>
        <locationY>441</locationY>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthroughContainerlist.Container_NO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthroughContainerlist.Seal_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthroughContainerlist.Container__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthroughContainerlist.MEASUREMENT_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Show_text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Breaklineformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughContainerlist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Decimal</name>
        <label>Convert Decimal</label>
        <locationX>1186</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>GrossWeightConvertDecimal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2.GROSS_WEIGHT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CBMConvertDecimal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2.MEASUREMENT_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalVGM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop2.Verified_Gross_Weight__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_to_showtext</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Breaklineformula</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Connect container &amp; separate it in SO {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Connect container &amp; separate it in SO</label>
    <loops>
        <name>loop2</name>
        <label>Loop 2</label>
        <locationX>943</locationX>
        <locationY>216</locationY>
        <collectionReference>ContainerCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Convert_Decimal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateinfotoSO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopthroughContainerlist</name>
        <label>Loop through Container list</label>
        <locationX>564</locationX>
        <locationY>224</locationY>
        <collectionReference>ContainerCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignvaluetoshowtext</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Showforuserlistofcontainer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FTMS_SO</name>
        <label>Get F/TMS S/O</label>
        <locationX>155</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getcontainerrecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getcontainerrecord</name>
        <label>Get container record</label>
        <locationX>384</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughContainerlist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HBL_SHIPMENT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FTMS_SO.Id</elementReference>
            </value>
        </filters>
        <object>Container_Info__c</object>
        <outputReference>ContainerCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Seal_No__c</queriedFields>
        <queriedFields>Container_NO__c</queriedFields>
        <queriedFields>GROSS_WEIGHT__c</queriedFields>
        <queriedFields>MEASUREMENT_CBM__c</queriedFields>
        <queriedFields>Container__c</queriedFields>
        <queriedFields>QUANTITY_PACKAGES__c</queriedFields>
        <queriedFields>CargoTypeUnit__c</queriedFields>
        <queriedFields>Verified_Gross_Weight__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateinfotoSO</name>
        <label>Update info to SO</label>
        <locationX>1271</locationX>
        <locationY>167</locationY>
        <inputReference>Get_FTMS_SO</inputReference>
    </recordUpdates>
    <screens>
        <name>Showforuserlistofcontainer</name>
        <label>Show for user list of container</label>
        <locationX>726</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop2</targetReference>
        </connector>
        <fields>
            <name>Showcontainerlist</name>
            <fieldText>&lt;p&gt;Please confirm list of container:&lt;/p&gt;&lt;p&gt;{!Show_text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Get_FTMS_SO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CBM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CBMConvertDecimal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>ContainerCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Container_Info__c</objectType>
    </variables>
    <variables>
        <name>Containerdetailforupdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GrossWeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GrossWeightConvertDecimal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>NoofPackageorContainer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalVGM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>VGM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
