force-app/main/default/flows/Consol_Update_information_to_HBL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Consol-Update information to HBL {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Consol-Update information to HBL</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>657</locationX>
        <locationY>495</locationY>
        <collectionReference>Get_All_HBL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Consol</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_HBL</name>
        <label>Get All HBL</label>
        <locationX>668</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterAnkenName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>664</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CARGO_TYPE__c</field>
            <value>
                <elementReference>$Record.TranportationServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATE_OF_MASTER_BL_ISSUED__c</field>
            <value>
                <elementReference>$Record.Date_of_MBL_Issued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>$Record.META__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETD__c</field>
            <value>
                <elementReference>$Record.METD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalDestination__c</field>
            <value>
                <elementReference>$Record.Final_Destination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>$Record.MASTER_BOOKING_NO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_B_L__c</field>
            <value>
                <elementReference>$Record.MMaster_B_L_No__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POD__c</field>
            <value>
                <elementReference>$Record.MPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POL__c</field>
            <value>
                <elementReference>$Record.MPOL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Delivery__c</field>
            <value>
                <elementReference>$Record.MPlace_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Receipt__c</field>
            <value>
                <elementReference>$Record.MPlace_Of_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vessle__c</field>
            <value>
                <elementReference>$Record.MVessel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Voy_No__c</field>
            <value>
                <elementReference>$Record.MVoy_No__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consol</name>
        <label>Update Consol</label>
        <locationX>794</locationX>
        <locationY>513</locationY>
        <inputAssignments>
            <field>Update_Information_to_HBL__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Information_to_HBL__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MasterAnken__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1_minutes</name>
            <connector>
                <targetReference>Get_All_HBL</targetReference>
            </connector>
            <label>1 minutes</label>
            <maxBatchSize>4</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
