force-app/main/default/flows/ConsolAllocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignDisplayNo</name>
        <label>Assign Display No</label>
        <locationX>826</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>varDisplayNo</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Unit_is_Set_or_Shipment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CreateOrUpdateDecision</name>
        <label>Create or Update Decision</label>
        <locationX>607</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DecisionIsUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateButtonOnScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateButtonOnScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConsolRecordHavingFMSBill</targetReference>
            </connector>
            <label>Decision is Update</label>
        </rules>
        <rules>
            <name>DecisionIsCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateButtonOnScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateButtonOnScreen</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConsolBillHavingNoFMSBill</targetReference>
            </connector>
            <label>Decision is Create</label>
        </rules>
        <rules>
            <name>DecisionIsCreateAndUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DecisionIsCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DecisionIsUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Decision is Create and Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_is_Set_or_Shipment</name>
        <label>Unit is Set or Shipment</label>
        <locationX>878</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>CreateFMSBill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Create_New_FMS_Bill.Charge_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Create_New_FMS_Bill.Charge_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateFMSBillsetorshipment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_is_Set_or_Shipment_0</name>
        <label>Unit is Set or Shipment</label>
        <locationX>435</locationX>
        <locationY>744</locationY>
        <defaultConnector>
            <targetReference>UpdateFMSBill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UpdateNewFMSBill.Charge_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Set</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateNewFMSBill.Charge_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFMSBillSetorShipment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Change unit price of buying into total amount of buying (Operation checking)</description>
    <formulas>
        <name>UnitbuyinglocalSetorshipment</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.BuyAmountJPN__c}/{!NumberofHBL}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>UnitbuyingUSDSetorshipment</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.BuyAmountUSD__c}/{!NumberofHBL}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>varUnitBuyingFCY</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.BuyAmountUSD__c}/{!varConsolMeasurement}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>varUnitBuyingLocal</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.BuyAmountJPN__c}/{!varConsolMeasurement}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>varUnitSellingFCY</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.SellAmountUSD__c} /{!varConsolMeasurement}</expression>
        <scale>17</scale>
    </formulas>
    <formulas>
        <name>varUnitSellingLocal</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Create_New_FMS_Bill.SellAmountJPN__c} /{!varConsolMeasurement}</expression>
        <scale>17</scale>
    </formulas>
    <interviewLabel>Consol Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Consol Allocation</label>
    <loops>
        <name>Loop_Create_New_FMS_Bill</name>
        <label>Loop Create New FMS Bill</label>
        <locationX>966</locationX>
        <locationY>280</locationY>
        <collectionReference>varGetConsolBillRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignDisplayNo</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>UpdateNewFMSBill</name>
        <label>Update FMS Bill</label>
        <locationX>503</locationX>
        <locationY>578</locationY>
        <collectionReference>varGetConsolBillRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Unit_is_Set_or_Shipment_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateFMSBill</name>
        <label>Create FMS Bill</label>
        <locationX>980</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>varFMSBillRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update1stBillforConsolBill</targetReference>
        </connector>
        <inputAssignments>
            <field>AM_MasterID__c</field>
            <value>
                <elementReference>varConsolRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AM_MasterMeisaiID__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anken__c</field>
            <value>
                <elementReference>curSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>varUnitBuyingLocal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>varUnitBuyingFCY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTaxInitial__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BuyTaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargeUnit__c</field>
            <value>
                <stringValue>CBM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionBuying__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.CurrencyConversionForBuying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionSelling__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.CurrencyConversionForSelling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsatuyouSyohinEng__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BillNameAtPrintENG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsatuyouSyohin__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BillNameAtPrintLocal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseBay__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.KawaseBay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseSel__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.KawaseSel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTo__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.PaymentTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varConsolAllocationRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SeikyuBangou__c</field>
            <value>
                <elementReference>varDisplayNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seikyusaki__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Seikyusaki__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellTankaJPY__c</field>
            <value>
                <elementReference>varUnitSellingLocal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellTankaUSD__c</field>
            <value>
                <elementReference>varUnitSellingFCY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suryo__c</field>
            <value>
                <elementReference>varRTON</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tariff__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.MTariff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxInitial__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.TaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateFMSBillsetorshipment</name>
        <label>Create FMS Bill set or shipment</label>
        <locationX>1015</locationX>
        <locationY>690</locationY>
        <assignRecordIdToReference>varFMSBillRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Update1stBillforConsolBill</targetReference>
        </connector>
        <inputAssignments>
            <field>AM_MasterID__c</field>
            <value>
                <elementReference>varConsolRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AM_MasterMeisaiID__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anken__c</field>
            <value>
                <elementReference>curSO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>UnitbuyinglocalSetorshipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>UnitbuyingUSDSetorshipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTaxInitial__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BuyTaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChargeUnit__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Charge_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionBuying__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.CurrencyConversionForBuying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionSelling__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.CurrencyConversionForSelling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsatuyouSyohinEng__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BillNameAtPrintENG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsatuyouSyohin__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.BillNameAtPrintLocal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseBay__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.KawaseBay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseSel__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.KawaseSel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTo__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.PaymentTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varConsolAllocationRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SeikyuBangou__c</field>
            <value>
                <elementReference>varDisplayNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seikyusaki__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Seikyusaki__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suryo__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tariff__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.MTariff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxInitial__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.TaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetConsol</name>
        <label>Get Consol</label>
        <locationX>472</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOrUpdateDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConsolRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MCBM__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>MasterAnken__c</object>
        <outputAssignments>
            <assignToReference>varConsolMeasurement</assignToReference>
            <field>MCBM__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NumberofHBL</assignToReference>
            <field>NO_HOUSE_B_L__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetConsolBillHavingNoFMSBill</name>
        <label>Get Consol Bill having no FMS Bill</label>
        <locationX>765</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Create_New_FMS_Bill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterAnken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConsolRecordId</elementReference>
            </value>
        </filters>
        <object>MasterAnkenMeisai__c</object>
        <outputReference>varGetConsolBillRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BuyAmountJPN__c</queriedFields>
        <queriedFields>SellAmountJPN__c</queriedFields>
        <queriedFields>BuyAmountUSD__c</queriedFields>
        <queriedFields>SellAmountUSD__c</queriedFields>
        <queriedFields>Seikyusaki__c</queriedFields>
        <queriedFields>PaymentTo__c</queriedFields>
        <queriedFields>MTariff__c</queriedFields>
        <queriedFields>BuyTaxInitial__c</queriedFields>
        <queriedFields>TaxInitial__c</queriedFields>
        <queriedFields>curr__c</queriedFields>
        <queriedFields>KawaseBay__c</queriedFields>
        <queriedFields>KawaseSel__c</queriedFields>
        <queriedFields>Suryo__c</queriedFields>
        <queriedFields>CurrencyConversionForBuying__c</queriedFields>
        <queriedFields>CurrencyConversionForSelling__c</queriedFields>
        <queriedFields>BillNameAtPrintLocal__c</queriedFields>
        <queriedFields>BillNameAtPrintENG__c</queriedFields>
        <queriedFields>Charge_Unit__c</queriedFields>
        <queriedFields>Container_Type__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetConsolRecordHavingFMSBill</name>
        <label>Get Consol Record Having FMS Bill</label>
        <locationX>521</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateNewFMSBill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varConsolRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AllocationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </filters>
        <object>MasterAnkenMeisai__c</object>
        <outputReference>varGetConsolBillHavingFMSBill</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BuyAmountJPN__c</queriedFields>
        <queriedFields>BuyAmountUSD__c</queriedFields>
        <queriedFields>SellAmountJPN__c</queriedFields>
        <queriedFields>SellAmountUSD__c</queriedFields>
        <queriedFields>Seikyusaki__c</queriedFields>
        <queriedFields>PaymentTo__c</queriedFields>
        <queriedFields>BuyTaxInitial__c</queriedFields>
        <queriedFields>TaxInitial__c</queriedFields>
        <queriedFields>curr__c</queriedFields>
        <queriedFields>KawaseBay__c</queriedFields>
        <queriedFields>KawaseSel__c</queriedFields>
        <queriedFields>Suryo__c</queriedFields>
        <queriedFields>CurrencyConversionForBuying__c</queriedFields>
        <queriedFields>CurrencyConversionForSelling__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCostAllocationRecordTypeInBill</name>
        <label>Get Cost Allocation Record Type in Bill</label>
        <locationX>232</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ConsolidationAllocation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varConsolAllocationRecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varConsolAllocationRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetSO</name>
        <label>Get S/O</label>
        <locationX>346</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetConsol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CustomObject1__c</object>
        <outputAssignments>
            <assignToReference>curSO</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varConsolRecordId</assignToReference>
            <field>MasterAnkenName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRTON</assignToReference>
            <field>RTON__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>add to update Consol Bill ID to 1st FMS Bill</description>
        <name>Update1stBillforConsolBill</name>
        <label>Update 1st Bill for Consol Bill</label>
        <locationX>1107</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>Loop_Create_New_FMS_Bill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varFMSBillRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SeikyuBangou__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AM_MasterMeisaiID__c</field>
            <value>
                <elementReference>Loop_Create_New_FMS_Bill.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFMSBill</name>
        <label>Update FMS Bill</label>
        <locationX>560</locationX>
        <locationY>799</locationY>
        <connector>
            <targetReference>UpdateNewFMSBill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AM_MasterMeisaiID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateNewFMSBill.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AM_MasterMeisaiID__c</field>
            <value>
                <elementReference>UpdateNewFMSBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>varUnitBuyingLocal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>varUnitBuyingFCY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseBay__c</field>
            <value>
                <elementReference>varExchangeRateBuy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suryo__c</field>
            <value>
                <elementReference>varRTON</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateFMSBillSetorShipment</name>
        <label>Update FMS Bill Set or Shipment</label>
        <locationX>457</locationX>
        <locationY>858</locationY>
        <connector>
            <targetReference>UpdateNewFMSBill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AM_MasterMeisaiID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateNewFMSBill.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AM_MasterMeisaiID__c</field>
            <value>
                <elementReference>UpdateNewFMSBill.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>UnitbuyinglocalSetorshipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>UnitbuyingUSDSetorshipment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseBay__c</field>
            <value>
                <elementReference>varExchangeRateBuy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suryo__c</field>
            <value>
                <elementReference>varRTON</elementReference>
            </value>
        </inputAssignments>
        <object>AnkenMeisai__c</object>
    </recordUpdates>
    <screens>
        <name>CreateOrUpdateFMSBillFromConsolBill</name>
        <label>Create or Update FMS Bill from Consol Bill</label>
        <locationX>183</locationX>
        <locationY>168</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCostAllocationRecordTypeInBill</targetReference>
        </connector>
        <fields>
            <name>CreateButtonOnScreen</name>
            <dataType>Boolean</dataType>
            <fieldText>Create</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check if create FMS Bill copy from Consol Bill at the first time only&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UpdateButtonOnScreen</name>
            <dataType>Boolean</dataType>
            <fieldText>Update</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check if CBM or Selling/Buying Price need to be updated due to changes on Consolidation Bill.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>CreateOrUpdateFMSBillFromConsolBill</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>curSO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofHBL</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SORecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsolAllocationRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsolAllocationRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsolMeasurement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varConsolName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varConsolRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCurrentSORecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDisplayNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExchangeRateBuy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loop_Create_New_FMS_Bill.KawaseBay__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varExchangeRateSel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loop_Create_New_FMS_Bill.KawaseSel__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varFMSBillRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGetConsolBillHavingFMSBill</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MasterAnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>varGetConsolBillRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MasterAnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>varMeasuremen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varRTON</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varServiceEngPrintName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceLocalPrintName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CustomObject1__c</objectType>
    </variables>
    <variables>
        <name>varUnit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
