force-app/main/default/flows/ConsolFullCopy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>Add copy Currency Conversion copy</description>
    <interviewLabel>Consol Full Copy {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Consol Full Copy</label>
    <loops>
        <name>LoopToCreateConsolBill</name>
        <label>Loop To Create Consol Bill</label>
        <locationX>734</locationX>
        <locationY>244</locationY>
        <collectionReference>GetOriginalConsolBill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateNewConsolBill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ConsolFullCopy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewConsolBill</name>
        <label>Create New Consol Bill</label>
        <locationX>747</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>LoopToCreateConsolBill</targetReference>
        </connector>
        <inputAssignments>
            <field>BillNameAtPrintENG__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.BillNameAtPrintENG__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillNameAtPrintLocal__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.BillNameAtPrintLocal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaJPY__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.BuyTankaJPY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTankaUSD__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.BuyTankaUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyTaxInitial__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.BuyTaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionForBuying__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.CurrencyConversionForBuying__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyConversionForSelling__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.CurrencyConversionForSelling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseBay__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.KawaseBay__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KawaseSel__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.KawaseSel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MTariff__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.MTariff__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MasterAnken__c</field>
            <value>
                <elementReference>varNewConsolRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTo__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.PaymentTo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seikyusaki__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.Seikyusaki__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellTankaJPY__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.SellTankaJPY__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellTankaUSD__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.SellTankaUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suryo__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.Suryo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxInitial__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.TaxInitial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>curr__c</field>
            <value>
                <elementReference>LoopToCreateConsolBill.curr__c</elementReference>
            </value>
        </inputAssignments>
        <object>MasterAnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateNewConsolRecord</name>
        <label>Create New Consol Record</label>
        <locationX>359</locationX>
        <locationY>262</locationY>
        <assignRecordIdToReference>varNewConsolRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>GetOriginalConsolBill</targetReference>
        </connector>
        <inputAssignments>
            <field>Field1__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.Field1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Term__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.Freight_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MBookingNv__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MBookingNv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MCnee__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MCnee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MConsolidationType__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MConsolidationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDescriptionOfGoods__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MDescriptionOfGoods__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDevanRep__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MDevanRep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDevanWarehouse__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MDevanWarehouse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDevan__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MDevan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MNotifyParty__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MNotifyParty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPOD__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPOL__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MPOL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPartner__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MPartner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPlace_Of_Delivery__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MPlace_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPlace_Of_Receipt__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MPlace_Of_Receipt__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MShipper__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MShipper__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MTRANSIT_PORT__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MTRANSIT_PORT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MTranporationType__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.MTranporationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Record_Type__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.Master_Record_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TranportationServiceType__c</field>
            <value>
                <elementReference>GetOriginalConsolRecord.TranportationServiceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>MasterAnken__c</object>
    </recordCreates>
    <recordLookups>
        <name>GetOriginalConsolBill</name>
        <label>Get Original Consol Bill</label>
        <locationX>613</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopToCreateConsolBill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterAnken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOriginalConsolRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MasterAnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOriginalConsolRecord</name>
        <label>Get Original Consol Record</label>
        <locationX>191</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewConsolRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MasterAnken__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ConsolFullCopy</name>
        <label>Consol Full Copy</label>
        <locationX>899</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WaitingForRedirect</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(7, 50, 115); font-size: 20px;&quot;&gt;WAITING FOR REDIRECTING&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoToRecord</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>varNewConsolRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewConsolRecordId</assignToReference>
                <name>recId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOriginalConsolRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewConsolRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
