force-app/main/default/flows/CopyContainerfromConsoltoShipment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_collection_of_selected_cont</name>
        <label>Add to collection of selected cont</label>
        <locationX>561</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>Collselectedconts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VarcontShipment_to_VarcollectnewCont</name>
        <label>Assign VarcontShipment to VarcollectnewCont</label>
        <locationX>651</locationX>
        <locationY>417</locationY>
        <assignmentItems>
            <assignToReference>Varcollectnewcont</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarcontShipment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignvaluetoContinTrans</name>
        <label>Assign value to Cont in Trans</label>
        <locationX>751</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>VarcontShipment.Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.ContainerType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.Container_NO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.ContainerNO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.Seal_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2.SealNo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.GROSS_WEIGHT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>G_W</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.MEASUREMENT_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CBM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.QUANTITY_PACKAGES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.CargoTypeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cargo_Unit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarcontShipment.HBL_SHIPMENT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_F_TMS_SO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_VarcontShipment_to_VarcollectnewCont</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CargoUnitmulti</name>
        <choiceText>Cargo Unit</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>VarcontShipment.CargoTypeUnit__c</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Containerischeckedornot</name>
        <label>Container is checked or not</label>
        <locationX>384</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseContainer</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_collection_of_selected_cont</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CargoUnitCont</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CargoTypeUnit__c</picklistField>
        <picklistObject>Container_Info__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListContConsol</name>
        <dataType>String</dataType>
        <displayField>ContainerSummary__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consol.Id</elementReference>
            </value>
        </filters>
        <object>ConsolCNTR__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Copy Container from Consol to Shipment {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Copy Container from Consol to Shipment</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>398</locationX>
        <locationY>436</locationY>
        <collectionReference>Get_Consol_container</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Containerischeckedornot</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2</name>
        <label>Loop2</label>
        <locationX>593</locationX>
        <locationY>277</locationY>
        <collectionReference>Collselectedconts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Show_Container_detail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cont</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cont</name>
        <label>Create Cont</label>
        <locationX>610</locationX>
        <locationY>147</locationY>
        <inputReference>Varcollectnewcont</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Consol</name>
        <label>Get Consol</label>
        <locationX>175</locationX>
        <locationY>312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_F_TMS_SO.MasterAnkenName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MasterAnken__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consol_container</name>
        <label>Get Consol container</label>
        <locationX>289</locationX>
        <locationY>432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consol.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ConsolCNTR__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_F_TMS_SO</name>
        <label>Get Current F/TMS SO</label>
        <locationX>174</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consol</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Show</name>
        <label>Show</label>
        <locationX>176</locationX>
        <locationY>427</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Consol_container</targetReference>
        </connector>
        <fields>
            <name>ChooseContainer</name>
            <choiceReferences>ListContConsol</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Container</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Container_detail</name>
        <label>Show Container detail</label>
        <locationX>764</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignvaluetoContinTrans</targetReference>
        </connector>
        <fields>
            <name>editinformation</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please edit information if needed!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contype</name>
            <fieldText>&lt;p&gt;&lt;b&gt;1.Container Type 1: &lt;/b&gt;{!Loop2.ContainerType__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;2.Container Number: &lt;/b&gt;{!Loop2.ContainerNO__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;3.Seal Number: &lt;/b&gt;{!Loop2.SealNo__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop2.CargoQuantity__c</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>G_W</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop2.GrossWeightKg__c</elementReference>
            </defaultValue>
            <fieldText>G.W</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>CBM</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Loop2.MeasurementCBM__c</elementReference>
            </defaultValue>
            <fieldText>CBM</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Cargo_Unit</name>
            <choiceReferences>CargoUnitCont</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cargo Unit</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Current_F_TMS_SO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Collselectedconts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ConsolCNTR__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varcollectnewcont</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Container_Info__c</objectType>
    </variables>
    <variables>
        <name>VarcontShipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Container_Info__c</objectType>
    </variables>
</Flow>
