force-app/main/default/flows/Create_Interview_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Do_we_have_interview_before</name>
        <label>Do we have interview before</label>
        <locationX>443</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Set_interview_schedule_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Interviewed before</defaultConnectorLabel>
        <rules>
            <name>Didnotinterviewbefore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Interview_Schedule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_interview_schedule</targetReference>
            </connector>
            <label>Did not interview before</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListofInterviewrecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruitment_CRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Id</elementReference>
            </value>
        </filters>
        <object>Interview__c</object>
        <outputAssignments>
            <assignToReference>Text</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>Create Interview Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Interview Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_record</name>
        <label>Create new record</label>
        <locationX>1203</locationX>
        <locationY>109</locationY>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer02__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer02__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer03__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer03__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewschedule__c</field>
            <value>
                <elementReference>Please_choose_interview_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobopening__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Jobopening__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Please_set_a_name_for_this_interview</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_CRM__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_record_0</name>
        <label>Create new record</label>
        <locationX>1182</locationX>
        <locationY>327</locationY>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer02__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer02__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer03__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer03__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewschedule__c</field>
            <value>
                <elementReference>Please_choose_interview_date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Jobopening__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Jobopening__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Please_set_a_name_for_this_interview_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PreviousInterview__c</field>
            <value>
                <elementReference>Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruitment_CRM__c</field>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Interview_Schedule</name>
        <label>Get Interview Schedule</label>
        <locationX>315</locationX>
        <locationY>207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_we_have_interview_before</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recruitment_CRM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruitment_CRM_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_CRM_record</name>
        <label>Get Recruitment CRM record</label>
        <locationX>175</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Interview_Schedule</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Recruitment_CRM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>978</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_record</targetReference>
        </connector>
        <fields>
            <name>Confirmintervieschedule</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PLEASE CONFIRM THE INFORMATION BELOW: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;{!Please_set_a_name_for_this_interview}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Candidate: &lt;/b&gt;{!Get_Recruitment_CRM_record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Apply Position: &lt;/b&gt;{!Get_Recruitment_CRM_record.Jobopening__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Interview schedule: &lt;/b&gt;{!Please_choose_interview_date}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Interviewer: &lt;/b&gt;{!Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Approver: &lt;/b&gt;{!Get_Recruitment_CRM_record.Recruitmentprocess__r.Approver__r.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Confirmation</label>
        <locationX>985</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_new_record_0</targetReference>
        </connector>
        <fields>
            <name>Confirmintervieschedule_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;PLEASE CONFIRM THE INFORMATION BELOW: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Name: &lt;/b&gt;{!Please_set_a_name_for_this_interview_0}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Candidate: &lt;/b&gt;{!Get_Recruitment_CRM_record.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Apply Position: &lt;/b&gt;{!Get_Recruitment_CRM_record.Jobopening__r.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Interview schedule: &lt;/b&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Please_choose_interview_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Interviewer: &lt;/b&gt;{!Get_Recruitment_CRM_record.Recruitmentprocess__r.Interviewer__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Approver: &lt;/b&gt;{!Get_Recruitment_CRM_record.Recruitmentprocess__r.Approver__r.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_interview_schedule</name>
        <label>Set interview schedule</label>
        <locationX>715</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Please_set_a_name_for_this_interview</name>
            <dataType>String</dataType>
            <fieldText>Please set a name for this interview</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_choose_interview_date</name>
            <dataType>DateTime</dataType>
            <fieldText>Please choose interview date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_interview_schedule_0</name>
        <label>Set interview schedule</label>
        <locationX>728</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_0</targetReference>
        </connector>
        <fields>
            <name>Please_choose_previous_interview</name>
            <choiceReferences>ListofInterviewrecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please choose previous interview</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_set_a_name_for_this_interview_0</name>
            <dataType>String</dataType>
            <fieldText>Please set a name for this interview</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_choose_interview_date_0</name>
            <dataType>DateTime</dataType>
            <fieldText>Please choose interview date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Recruitment_CRM_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>numberofintervew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
