force-app/main/default/flows/Create_New_Account_from_EBooking_Customer_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Consignee</name>
        <choiceText>Consignee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consignee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Shipper</name>
        <choiceText>Shipper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Shipper</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Requester_DC</name>
        <label>Create Account_DC</label>
        <locationX>420</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Requester_OT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_for_Customer</targetReference>
            </connector>
            <label>Create Requester-OT</label>
        </rules>
        <rules>
            <name>Create_Shipper_OT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Shipper</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ebooking.Shipper__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ebooking.ShipperCompanyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_for_Shipper</targetReference>
            </connector>
            <label>Create Shipper-OT</label>
        </rules>
        <rules>
            <name>Create_consignee_OT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Company</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Consignee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_for_Consignee</targetReference>
            </connector>
            <label>Create consignee-OT</label>
        </rules>
    </decisions>
    <description>create new account for Requester, Shipper, and consignee</description>
    <interviewLabel>Create New Account from EBooking Customer-2 {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Create New Account from EBooking Master-3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_Company_Screen</name>
        <label>Select Company</label>
        <locationX>526</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Requester_DC</targetReference>
        </connector>
        <fields>
            <name>Select_Company</name>
            <choiceReferences>Customer</choiceReferences>
            <choiceReferences>Shipper</choiceReferences>
            <choiceReferences>Consignee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Company</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Select_Company_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_for_Consignee</name>
        <label>Subflow for Consignee</label>
        <locationX>648</locationX>
        <locationY>435</locationY>
        <flowName>Create_New_Account_from_EBooking_Consignee_V3</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Ebooking.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_for_Customer</name>
        <label>Subflow for Customer</label>
        <locationX>223</locationX>
        <locationY>432</locationY>
        <flowName>Create_New_Account_from_EBooking_Customer_V3</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Ebooking.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_for_Shipper</name>
        <label>Subflow for Shipper</label>
        <locationX>428</locationX>
        <locationY>441</locationY>
        <flowName>Create_New_Account_from_EBooking_Shipper_V3</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Ebooking.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Ebooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>EBooking__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
