force-app/main/default/flows/Create_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>LaborContract</name>
        <choiceText>Labor Contract</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ProbationContract</name>
        <choiceText>Probation Contract</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Which_contract</name>
        <label>Which contract</label>
        <locationX>501</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Labor Contract</defaultConnectorLabel>
        <rules>
            <name>Probation_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Which_type_of_contract_do_you_want_to_create</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProbationContract</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Probation_period</targetReference>
            </connector>
            <label>Probation Contract</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>rep_position</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>title__c</picklistField>
        <picklistObject>Employeecontract__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Employee Contract (Probation)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_contract</name>
        <label>Create contract</label>
        <locationX>510</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>redirect</targetReference>
        </connector>
        <inputAssignments>
            <field>ARTICLE2_21__c</field>
            <value>
                <elementReference>ARTICLE2_21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE2_22__c</field>
            <value>
                <elementReference>ARTICLE2_22</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_311__c</field>
            <value>
                <elementReference>ARTICLE3_31_311</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_312__c</field>
            <value>
                <elementReference>ARTICLE3_31_312</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_313__c</field>
            <value>
                <elementReference>ARTICLE3_31_313</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_314__c</field>
            <value>
                <elementReference>ARTICLE3_31_314</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_315__c</field>
            <value>
                <elementReference>ARTICLE3_31_315</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_316__c</field>
            <value>
                <elementReference>ARTICLE3_31_316</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_317__c</field>
            <value>
                <elementReference>ARTICLE3_31_317</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_321__c</field>
            <value>
                <elementReference>ARTICLE3_31_321</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_322__c</field>
            <value>
                <elementReference>ARTICLE3_31_322</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_323__c</field>
            <value>
                <elementReference>ARTICLE3_31_323</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_324__c</field>
            <value>
                <elementReference>ARTICLE3_31_324</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE3_31_325__c</field>
            <value>
                <elementReference>ARTICLE3_31_325</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_41_411__c</field>
            <value>
                <elementReference>ARTICLE4_41_411</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_41_412__c</field>
            <value>
                <elementReference>ARTICLE4_41_412</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_42_421__c</field>
            <value>
                <elementReference>ARTICLE4_42_421</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_42_422__c</field>
            <value>
                <elementReference>ARTICLE4_42_422</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_42_423__c</field>
            <value>
                <elementReference>ARTICLE4_42_423</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE4_42_424__c</field>
            <value>
                <elementReference>ARTICLE4_42_424</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE5_a__c</field>
            <value>
                <elementReference>ARTICLE5_a</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE5_b__c</field>
            <value>
                <elementReference>ARTICLE5_b</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE5_c__c</field>
            <value>
                <elementReference>ARTICLE5_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE6_61__c</field>
            <value>
                <elementReference>ARTICLE6_61</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ARTICLE6_62__c</field>
            <value>
                <elementReference>ARTICLE6_62</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Address_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article1_11__c</field>
            <value>
                <elementReference>Article1_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article1_12__c</field>
            <value>
                <elementReference>Article1_12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article1_13__c</field>
            <value>
                <stringValue>Chuyên viên tư vấn hệ thống/ Consulting and SF Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article1_14__c</field>
            <value>
                <elementReference>Article1_14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee__c</field>
            <value>
                <elementReference>Get_EMPLOYEE_record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_probation__c</field>
            <value>
                <elementReference>End_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120K0000011RkxQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Repbymrms__c</field>
            <value>
                <elementReference>Rep_by_Mr_Ms_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_probation__c</field>
            <value>
                <elementReference>Start_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>company__c</field>
            <value>
                <elementReference>Company_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>taxcode__c</field>
            <value>
                <elementReference>tax_Code_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>title__c</field>
            <value>
                <elementReference>Title_0</elementReference>
            </value>
        </inputAssignments>
        <object>Employeecontract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_EMPLOYEE_record</name>
        <label>Get EMPLOYEE record</label>
        <locationX>495</locationX>
        <locationY>141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_type_of_contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_type_of_contract</name>
        <label>Choose type of contract</label>
        <locationX>496</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_contract</targetReference>
        </connector>
        <fields>
            <name>Which_type_of_contract_do_you_want_to_create</name>
            <choiceReferences>LaborContract</choiceReferences>
            <choiceReferences>ProbationContract</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which type of contract do you want to create ?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Employee_Confirmation</label>
        <locationX>512</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation_0</targetReference>
        </connector>
        <fields>
            <name>Confrim_Employee_information</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Hello,&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Now you are doing on create probation contract for the employee, please confirm the information of employee as below:&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Full Name: {!Get_EMPLOYEE_record.Full_Name__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Birth Day: {!Get_EMPLOYEE_record.Birthday__c} | Nationality: {!Get_EMPLOYEE_record.Nationality__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;---&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_EMPLOYEE_record.Full_Name__c} will start probation on: {!Start_date} and finish on:  {!End_date} . Is that right ? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Click next to continues, click previous to change the probation duration !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_0</name>
        <label>Employer_Confirmation</label>
        <locationX>513</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Last_Confirm</targetReference>
        </connector>
        <fields>
            <name>Employerside_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;BELOW IS THE INFORMATION OF THE EMPLOYER, PLEASE CHECK AND MODIFY IF ANY&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Company_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>CÔNG TY CỔ PHẦN AFR CLOUD COMPUTING</stringValue>
            </defaultValue>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Address_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>42/5 Nguyễn Văn Trỗi, Phường 15, Phú Nhuận, Thành phố Hồ Chí Minh</stringValue>
            </defaultValue>
            <fieldText>Địa chỉ / Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>tax_Code_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0315164481</stringValue>
            </defaultValue>
            <fieldText>Mã số thuế / Tax Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rep_by_Mr_Ms_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>PHAN NHUT TAM</stringValue>
            </defaultValue>
            <fieldText>Đại diện bởi Ông/Bà / Rep. by Mr.Ms.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Title_0</name>
            <choiceReferences>rep_position</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Giám đốc / Director</stringValue>
            </defaultValue>
            <fieldText>Chức vụ / Title</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Last_Confirm</name>
        <label>Last Confirm</label>
        <locationX>509</locationX>
        <locationY>942</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_contract</targetReference>
        </connector>
        <fields>
            <name>Lasttimeofconfirm</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://afrs-dev-ed--c.ap6.content.force.com/sfc/servlet.shepherd/version/download/0680K00000fzTfW?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(4, 131, 195);&quot;&gt;You are completed 95% of creating probation contract. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(4, 131, 195);&quot;&gt;Please note that every article and policy include in the contract can be modify latter, so, let&apos;s check after this contract is create.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(4, 131, 195);&quot;&gt;Thank!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Probation_period</name>
        <label>Probation period</label>
        <locationX>510</locationX>
        <locationY>548</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;Please select the duration of the probationary contract&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_date</name>
            <dataType>Date</dataType>
            <fieldText>Start date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_date</name>
            <dataType>Date</dataType>
            <fieldText>End date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Sorry, end date must be greater than start date. Please choose again !&lt;/p&gt;</errorMessage>
                <formulaExpression>{!End_date}&gt;{!Start_date}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>redirect</name>
        <label>redirect</label>
        <locationX>519</locationX>
        <locationY>1252</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirecttocontract</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>Create_contract</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_EMPLOYEE_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Article1_11</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thời hạn hợp đồng thử việc: Hợp đồng toàn thời gian thời hạn từ ngày {!Start_date} cho đến hết ngày&amp;nbsp;{!End_date}&lt;/p&gt;&lt;p&gt;&lt;i&gt;Term of Probation Contract: Full - Time contract with term from &lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Start_date}&lt;/span&gt;&lt;i&gt; to the end of &lt;/i&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!End_date}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sau khi hoàn thành thỏa đáng thời gian thử việc, Anh/Chị sẽ được ký Hợp đồng có xác định thời hạn. Trong quá trình thử việc, nếu bên nào muốn chấm dứt thì phải thông báo cho bên kia trước 7 ngày làm việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Upon our satisfactory completion of probation time, you will be given a definite labor contract. During the probationary period, a prior notice of 7 working days will be required to terminate employment.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Article1_12</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Địa điểm làm việc / Working location: Văn phòng&amp;nbsp;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Company_0}&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Article1_14</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Công việc phải làm: Theo sự phân công của người quản lý trực tiếp và ban lãnh đạo.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Scope of work: Following the assignment from the direct manager and the management team.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE2_21</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thời gian làm việc: buổi sáng từ 08:30 – 12:00 và buổi chiều từ 13:00 – 17:30. Hoặc theo tính chất công việc nhưng không quá 10 giờ/ngày hoặc 44 giờ/tuần.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Working time: morning from 08:30 - 12:00 and afternoon from 13:00 - 17:30. Or based on the nature of work; however, the working hours do not exceed 10 hours/ day or 44 hours/ week&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE2_22</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Người lao động được cấp phát những dụng cụ làm việc theo yêu cầu công việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Employee is supplied with all the facilities that he/she would need for their working.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_311</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Mức thu nhập gộp hàng tháng (đã bao gồm Bảo hiểm xã hội/sức khỏe/thất nghiệp, Thuế TNCN và các khoản phụ cấp theo chính sách của Công ty.):&amp;nbsp;&lt;b&gt;&amp;lt;&amp;lt;Need add Salary here&amp;gt;&amp;gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Monthly Gross Income (inclusive of social/health/unemployment insurance, PIT and allowances in accordance with Company’s policy.):&amp;nbsp;&lt;/i&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;i&gt;&amp;lt;&amp;lt;Need add Salary here&amp;gt;&amp;gt;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_312</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hình thức trả lương: Lương của Anh/Chị sẽ được trả vào ngày 01 hàng tháng bằng chuyển khoản trực tiếp vào tài khoản ngân hàng mà Anh/Chị chỉ định. Nếu ngày trả lương trùng vào ngày nghỉ hàng tuần, ngày lễ, tết, thì tiền lương sẽ được trả vào ngày làm việc sau đó.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Payment method: Your salary shall be paid on the 01st day of each month, in arrears, by direct transfer to your nominated bank account. If payment date is on the weekends, holidays or Tet holidays, the salary shall be paid on the next working day.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_313</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Người Lao Động sẽ có ngày phép mỗi năm theo quy định của Công ty. Phép chưa sử dụng có thể sử dụng cho đến cuối tháng Ba năm sau, và sẽ tự động bị hủy bỏ (nếu còn dư phép) mà không cần thông báo trước. Phép năm chưa sử dụng hết sẽ không được thanh toán.&lt;/p&gt;&lt;p&gt;&lt;i&gt;The Employee is entitled to paid leave days per year according to the Company’s policy. Unused leave can be used until the end of March of the following year, otherwise such leave&amp;nbsp;will be automatically forfeited without any further notice. There will be no payment for any unused leave.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_314</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chế độ bảo hiểm xã hội, bảo hiểm y tế, bảo hiểm thất nghiệp: Theo quy định hiện hành của Nhà nước.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Social insurance, health insurance, unemployment insurance: in accordance with the current Regulation of Vietnam&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_315</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chế độ đào tạo và Phát triển: Theo quy định của Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Training and Development: following the Company’s decision.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_316</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chế độ nâng lương: Theo quy định của Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Salary increase regime: following the Company’s decision.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_317</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Những thỏa thuận khác: Được hưởng các quyền lợi khác theo chính sách hiện hành của Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Other agreements: shall get other benefits in accordance with the Company’s Regulation&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_321</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hoàn thành công việc theo sự phân công của Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Complete all the tasks following the assignment from the Company&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_322</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Chấp hành và thực hiện nghiêm chỉnh các quy định của Hợp đồng này, các luật và quy định có liên quan của Việt Nam, và các lệnh điều hành, quy tắc, chính sách, quy trình và quy chế do Công ty thực hiện hoặc ban hành vào từng thời điểm, bao gồm nhưng không giới hạn nội quy lao động và thỏa ước lao động tập thể của Công ty (nếu có).&lt;/p&gt;&lt;p&gt;&lt;i&gt;Strictly comply with and perform all provisions of this Contract, relevant laws and regulations of Vietnam, and all commands, rules, policies, procedures and regulations implemented or issued by the Company from time to time, including but not limited to the internal labor rules and collective labor agreement of the Company (if any).&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_323</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Không được phép làm việc hoặc hợp tác với bất kỳ tổ chức, cá nhân nào khác mà có ảnh hưởng đến quyền lợi của Công ty, trừ khi được Công ty chấp thuận trước bằng văn bản. Trường hợp phát hiện vi phạm quy định này, Công ty có quyền đơn phương chấm dứt Hợp đồng Thử việc với Người Lao động mà không cần báo trước hoặc thanh toán cho những ngày không thông báo đó, cũng như không phải bồi thường thiệt hại cho Anh/Chị. Ngoài ra, tùy trường hợp, Công ty có thể yêu cầu Anh/Chị bồi thường thiệt hại cho Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Not allowed to work or coordinate with any organizations, individuals that may affect the Company’s interest without prior acceptance in writing by the Company. In case of breach of this term, the Company has the right to unilaterally terminate the Probation Contract with the Employee with immediate effect without prior notice or payment in lieu thereof as well as without paying any compensation for the Employees. Moreover, subject to the cases, the Company may request the Employees to pay compensation for the Company.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tuy nhiên, Người Lao Động hiểu và đồng ý rằng trong quá trình công tác, Công ty có quyền điều phái hoặc điều chuyển Người Lao Động sang các đơn vị thành viên hoặc các phòng ban trong Công ty. Thời gian biệt phái hoặc điều chuyển sẽ được coi là việc làm liên tục. Tất cả các điều khoản và điều kiện sẽ được xem xét tại thời điểm điều chuyển.&lt;/p&gt;&lt;p&gt;&lt;i&gt;However, the Employee understands and agrees that during the working period, the Company shall have the right to either second the Employee or transfer the Employee to other subsidiaries or departments within the Company. Such secondment or transfer will be deemed as continuous employment. All terms and conditions will be reviewed at the time of transfer&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_324</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Bảo mật&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Confidentiality&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Người Lao Động sẽ giữ bảo mật và sẽ (i) không tiết lộ bất cứ thông tin nào liên quan đến Công Ty và văn phòng chính, công ty mẹ, các chi nhánh, văn phòng đại diện hoặc các công ty con của Công Ty hoặc bất cứ công ty, tổ chức hoặc cá nhân có liên hệ với Công Ty; (ii) không cho phép những người không có thẩm quyền truy nhập bất cứ thông tin bảo mật nào chứa trong các máy tính để bàn, máy tính xách tay hoặc trong các bản in; và (iii) sẽ không sử dụng các thông tin đó chỉ nhằm phục vụ cho lợi ích của riêng Người Lao Động hoặc của các bên thứ ba khác; và&lt;/p&gt;&lt;p&gt;&lt;i&gt;The Employee shall keep confidential and not (i) disclose any information relating to the Company and its head office, parent company, branches, representative offices or subsidiaries, or any of the companies, organizations and individuals who may have any connection with the Company; (ii) allow any unauthorised person to access confidential information contained in his PC, laptop or in hard copies; and not (iii) use such information for the Employee’s own benefit or for the benefit of any third parties; and&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tất cả các bản gốc và bản sao của các bản ghi nhớ, ghi chép, đĩa vi tính, dữ liệu điện tử, tập tin hoặc các tài liệu khác dưới bất cứ hình thức nào mà Người Lao Động có thể tiếp cận hoặc tạo lập trong thời gian làm việc tại Công Ty và liên quan đến Công Ty và các văn phòng chính, công ty mẹ, các chi nhánh, văn phòng đại diện hoặc các công ty con của Công Ty hoặc bất cứ công ty, tổ chức hoặc cá nhân có liên hệ với Công Ty là tài sản của Công Ty và sẽ được giao lại đầy đủ cho Công Ty trong vòng 03 ngày sau khi Hợp Đồng này chấm dứt vì bất cứ lý do nào hoặc tại bất cứ thời điểm nào mà Công Ty yêu cầu. Người Lao Động đồng ý sẽ không xóa, sao chép hoặc di dời các tài liệu đó từ các cơ sở của Công Ty vào bất cứ thời điểm nào mà không được Công Ty đồng ý.&lt;/p&gt;&lt;p&gt;&lt;i&gt;All originals and copies of memoranda, notes, records, computer disks, files and electronic data or other documents in whatever forms, which may be created by or made available to the Employee during his/her employment at the Company and relate to the Company and its head office, parent company or any of their branches, representative offices or subsidiaries, or any of the companies, organizations and individuals who may have any connection with the Company are the Company’s property and shall be returned in full to the Company within 03 days upon termination of this Agreement due to whatever reasons or at any other time upon the Company’s request. The Employee agrees not to delete, make copies or remove such documents from the Company’s premises at any time without the consent of the Company&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE3_31_325</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Bồi thường vật chất&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;i&gt;Property compensation&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nếu làm hỏng hoặc mất thiết bị, dụng cụ, tài sản của Công ty, người lao động phải bồi thường cho Công ty theo quy định hiện hành và Nội quy lao động của Công ty; trường hợp có cam kết bồi thường thì bồi thường theo cam kết đã thỏa thuận.&lt;/p&gt;&lt;p&gt;&lt;i&gt;If an Employee frustrates or loses any equipment, facilities, assets of the Company, he/she should compensate for the Company in accordance with the current regulations and the Labor Rule of the Company; in case of having any compensation agreement then following this agreement.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nếu người lao động vi phạm các quy định về bảo mật thông tin của Công ty sẽ bị xử lý kỷ luật theo quy định của Công ty hoặc truy cứu trách nhiệm theo quy định hiện hành của pháp luật.&lt;/p&gt;&lt;p&gt;&lt;i&gt;If an Employee breaks the regulations related to information confidentiality of the Company, he/she shall be disciplined in accordance with the Company’s Regulations or be prosecuted in accordance with the current Law.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_41_411</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Đảm bảo việc làm và thực hiện đầy đủ những điều đã cam kết trong hợp đồng Thử việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Ensure the work and implement properly all the terms and conditions as committed in this Probation Contract.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_41_412</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thanh toán đầy đủ, đúng hạn các chế độ và quyền lợi cho người lao động theo hợp đồng Thử việc và Thỏa ước Lao động tập thể (nếu có).&lt;/p&gt;&lt;p&gt;&lt;i&gt;Pay properly and timely all the compensation and benefits for the Employee in accordance with this Probation Contract and Collective Labor Agreement (if any).&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_42_421</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Giám sát người lao động trong việc thực hiện công việc được giao.&lt;/p&gt;&lt;p&gt;Supervise the Employee in implementation of the assigned tasks.&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_42_422</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Tạm hoãn, chấm dứt hợp đồng thử việc, điều động, luân chuyển, kỷ luật Người Lao Động theo quy định hiện hành của pháp luật, Hợp đồng này và Nội quy lao động của Công ty.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Postpone, terminate, mobilize, rotate or discipline the Employee in accordance with the current regulation of Law, this Contract and Labor Rules of the Company.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_42_423</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Điều động hoặc điều chuyển Người Lao Động sang các đơn vị trong Công ty làm việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Second or transfer the Employee to work for other organizations within the Company.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE4_42_424</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Công Ty bảo lưu quyền sở hữu trí tuệ đối với tất cả các tài liệu (bao gồm nhưng không giới hạn các bản ghi nhớ, các bài báo, bản vẽ, phần mềm và các tài liệu khác dưới bất kỳ hình thức nào) được Người Lao Động soạn thảo, chuẩn bị hay tạo lập trong quá trình làm việc tại Công Ty. Người Lao Động đồng ý sẽ từ bỏ mọi quyền mà mình có thể có được liên quan đến các tài liệu đó và giữ cho Công Ty không bị ảnh hưởng bởi bất cứ mất mát, hư hại hay kiện tụng của các bên thứ ba liên quan đến các tài liệu này.&lt;/p&gt;&lt;p&gt;&lt;i&gt;The Company reserves its intellectual property right in respect of any materials (including but not limited to memoranda, articles, drawings, software or other material in whatever forms) that have been created, prepared or made by the Employee in the course of his/her employment with the Company. The Employee agrees to waive all rights that he/she may be or shall be entitled in respect of such materials and keep the Company harmless from any losses, damages or claims of any third parties in relation to such materials.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE5_a</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Kết thúc thời hạn Hợp đồng mà không được gia hạn thêm hoặc ký kết tiếp Hợp đồng Lao động có xác định thời hạn; hoặc&lt;/p&gt;&lt;p&gt;&lt;i&gt;Expiry of the Contract term without any extension thereof or signing definite Labor Agreement; or&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE5_b</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Một trong Các Bên có quyền đơn phương chấm dứt Hợp Đồng vào bất kỳ lúc nào mà không phải bồi thường thiệt hại hoặc chịu phạt cho Bên kia, với điều kiện phải thông báo trước cho Bên kia biết trước Bảy (07) ngày làm việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;Either Party may unilaterally terminate the Contract at any time without paying any compensation or penalty provided that such Party must send a written notice to the other Party seven (07) days in advance.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE5_c</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Trong thời gian hiệu lực của Hợp Đồng, Bên A có quyền chấm dứt Hợp Đồng bất kỳ lúc nào mà không phải bồi thường thiệt hại hoặc chịu phạt cho Bên B, nếu Bên B (i) không thực hiện đúng Dịch vụ đã cam kết, hoặc (ii) vi phạm các trách nhiệm, nghĩa vụ và cam kết của Bên B trong Hợp Đồng này. Trong trường hợp này Bên A có nghĩa vụ thông báo cho Bên B bằng văn bản trước 5 ngày làm việc.&lt;/p&gt;&lt;p&gt;&lt;i&gt;During the term of the Contract, Party A is entitled to terminate the Contract at any time without paying any compensation or penalty if Party B (i) fails to provide the Services as committed or (ii) violates any responsibilities, obligations or commitments of Party B hereunder. In such cases, Party A is responsible for sending a five (5) working day written notice to Party B.&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE6_61</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hai Bên cam kết thực hiện đúng và đầy đủ các nội dung trong Hợp Đồng này.&lt;/p&gt;&lt;p&gt;&lt;i&gt;The Parties are committed to comply and complete the contents of this Contract&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ARTICLE6_62</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hợp Đồng này được lập thành 02 bản, mỗi Bên giữ 01 bản có giá trị như nhau. Trong trường hợp có sự mâu thuẫn giữa hai ngôn ngữ thì bản tiếng Việt sẽ được ưu tiên áp dụng.&lt;/p&gt;&lt;p&gt;&lt;i&gt;This Contract is made into 02 copies, each party shall keep 01 copies each. Where there is a conflict between the two languages, the Vietnamese version shall prevail.&amp;nbsp;&lt;/i&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
