force-app/main/default/flows/Create_New_Account_from_EBooking_Consignee_V3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Requester_Null_DC</name>
        <label>Requester Null-DC</label>
        <locationX>526</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consignee_Null_DC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ebooking.Consignee__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Ebooking.ConsigneeCompanyName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_for_Consignee</targetReference>
            </connector>
            <label>Consignee Null-DC</label>
        </rules>
    </decisions>
    <interviewLabel>Create New Account from EBooking Consignee-V3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Account from EBooking Consignee-V3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Account_for_Consignee</name>
        <label>New Account for Consignee</label>
        <locationX>536</locationX>
        <locationY>465</locationY>
        <assignRecordIdToReference>varAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_E_Booking_for_Consignee</targetReference>
        </connector>
        <inputAssignments>
            <field>CustomerType__c</field>
            <value>
                <stringValue>Enterprise</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EnglishCompanyName__c</field>
            <value>
                <elementReference>Ebooking.ConsigneeCompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Ebooking.ConsigneeCompanyName__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Get_E_Booking</name>
        <label>Get E-Booking</label>
        <locationX>525</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Requester_Null_DC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>EBooking__c</object>
        <outputReference>Ebooking</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Consignee__c</queriedFields>
        <queriedFields>ConsigneeCompanyName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_E_Booking_for_Consignee</name>
        <label>Update E-Booking for Consignee</label>
        <locationX>763</locationX>
        <locationY>465</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consignee__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>EBooking__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_E_Booking</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Ebooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>EBooking__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
