force-app/main/default/flows/Full_Copy_Partical_Copy_SHIPMENT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddBillingstoCollectionVariable</name>
        <label>Add Billings to Collection Variable</label>
        <locationX>1018</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VarBillingsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_with_to_Copy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddBillingstoCollectionVariable_0</name>
        <label>Add Billings to Collection Variable</label>
        <locationX>1370</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>VarBillingsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleBilling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AirExportRecordType</name>
        <label>Air Export Record Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetAirExportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AirImportRecordType</name>
        <label>Air Import Record Type</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAirImportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_for_Billing</name>
        <label>Assign Single value for Billing</label>
        <locationX>1018</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>SingleBilling.ADVANCE_PAYMENT_ON_BEHALF_OF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ADVANCE_PAYMENT_ON_BEHALF_OF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInAfter_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_BuyInAfter_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInAfter_allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_BuyInAfter_allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInBefore_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_BuyInBefore_Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_MCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_Buyinbefore_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_Buyinbefore_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MasterID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_MasterID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MasterMeisaiID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AM_MasterMeisaiID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ANKEN_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ANKEN_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdjustedAfterClosingBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AdjustedAfterClosingBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdjustedAfterClosingSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AdjustedAfterClosingSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdvancePaymentOnBehalfOfOurCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AdvancePaymentOnBehalfOfOurCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountBuyingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountBuyingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountSellingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountSellingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountSellingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountSellingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ApprovaStatusForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ApprovaStatusForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Ararigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Ararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BY_PASS_VALIDATION_RULE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BY_PASS_VALIDATION_RULE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BadDebtAging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BadDebtAging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BadDebtCheckBox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BadDebtCheckBox__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BankAccountForReceiving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BankAccountForReceiving__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BeneficiaryBuyingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BeneficiaryBuyingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Bikou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Bikou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BillDataUpdateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BillDataUpdateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BillNameForInternal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BillNameForInternal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyInTaxAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyTaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyingCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingDebitAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyingDebitAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingVATCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyingVATCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.BuyingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnitFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ChargeUnitFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnitInPrint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ChargeUnitInPrint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CollectDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.CollectDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ContainerID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerSizeFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ContainerSizeFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ContainerSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Cost_Allocation_Catetory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Cost_Allocation_Catetory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyConversionBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.CurrencyConversionBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyConversionSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.CurrencyConversionSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.DataUpdateStatusBillToQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.DataUpdateStatusBillToQL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateBuyingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateBuyingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateBuyingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateBuyingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateIDVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateIDVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateSellingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateSellingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateSellingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRateSellingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRequiredForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRequiredForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRequiredForSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ExchangeRequiredForSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.House_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.House_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.IS_DESTINATION_A_BROKER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.IS_DESTINATION_A_BROKER__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InsatuyouSyohinEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.InsatuyouSyohinEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InsatuyouSyohin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.InsatuyouSyohin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_Destination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Invoice_Destination_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoiceto_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Invoiceto_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.KawaseBay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.KawaseBay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.KawaseSel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.KawaseSel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Last_Sent_Uncollected_Charge_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Last_Sent_Uncollected_Charge_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.MASTER_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.MASTER_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PROFIT_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PROFIT_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerCreditJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerCreditJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerCredit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerCredit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerDebitJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerDebitJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerDebit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerDebit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerSeisanUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PartnerSeisan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PayDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PayDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymentTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PricingRecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PricingRecordType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PrintFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PrintFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProductSyobunrui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProductSyobunrui__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProductTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProductTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitIncludeTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProfitIncludeTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProfitIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProfitRatioIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioIncludeTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProfitRatioIncludeTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ProfitRatioUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.QuoteLineID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.QuoteLineID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Recordtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Recordtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.RiekirituMisei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.RiekirituMisei__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SalesAccountedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SalesAccountedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SeikyuBangou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SeikyuBangou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SeikyusakiTantosya__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SeikyusakiTantosya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Seikyusaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Seikyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmountJPY_NoRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellInTaxAmountJPY_NoRound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmount_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellInTaxAmount_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingCreditAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellingCreditAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellingDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingVATCreditAccountingcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellingVATCreditAccountingcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SellingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Selling_Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Selling_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Selling_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SerchSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SerchSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Shiiresaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Shiiresaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SiharaisakiSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.SiharaisakiSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Suryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Suryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tariff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TorihikisakiLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TorihikisakiLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.UNPAID_BALANCE_OF_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.UNPAID_BALANCE_OF_BUYING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.UNPAID_BALANCE_OF_SELLING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.UNPAID_BALANCE_OF_SELLING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.USDTaxAdjustmentSell__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.USDTaxAdjustmentSell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.USDTaxAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.USDTaxAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Uncollected_Charge_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Uncollected_Charge_Reminder_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VAT_INVOICE_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.VAT_INVOICE_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.buying_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.buying_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.buying_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.buying_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.curr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.curr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.selling_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.selling_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.selling_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.selling_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkDefaultTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkDefaultTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkPP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayBaseDateInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkPayBaseDateInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayBaseDatePayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkPayBaseDatePayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayConditionInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkPayConditionInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayConditionPayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkPayConditionPayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSBS2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkSBS2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSBS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkSBS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSeikyuSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkSeikyuSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkShireSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkShireSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSuryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkSuryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkTaxFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.wkTaxFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymentToRelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PaymentToRelationshipType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ServiceNameInConsolBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.ServiceNameInConsolBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CountOfOfConnectedTrxPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.CountOfOfConnectedTrxPlan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingIncTaxFCYInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountBuyingIncTaxFCYInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingIncTaxLocalInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.AmountBuyingIncTaxLocalInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Invoice_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Payment_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Payment_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InvoicetoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.InvoicetoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymenttoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.PaymenttoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Cargo_status_is_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Cargo_status_is_changed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VATratebuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.VATratebuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VATrateselling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.VATrateselling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Reference_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Reference_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofBuyingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TotalAmountofBuyingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofBuyingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TotalAmountofBuyingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofSellingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TotalAmountofSellingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofSellingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.TotalAmountofSellingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Invoice_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Summary_of_Billings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Summary_of_Billings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Anken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarFullCopySOId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tariff__r.BuyKingaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tariff__r.BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tariff__r.SellKingakuJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_with_to_Copy.Tariff__r.SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBillingstoCollectionVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_value_for_Billing_0_0</name>
        <label>Assign Single value for Billing</label>
        <locationX>1370</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>SingleBilling.ADVANCE_PAYMENT_ON_BEHALF_OF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ADVANCE_PAYMENT_ON_BEHALF_OF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInAfter_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_BuyInAfter_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInAfter_allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_BuyInAfter_allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_BuyInBefore_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_BuyInBefore_Allocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MCBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_MCBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_Buyinbefore_allocation_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_Buyinbefore_allocation_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MasterID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_MasterID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AM_MasterMeisaiID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AM_MasterMeisaiID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ANKEN_CBM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ANKEN_CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdjustedAfterClosingBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AdjustedAfterClosingBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdjustedAfterClosingSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AdjustedAfterClosingSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AdvancePaymentOnBehalfOfOurCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AdvancePaymentOnBehalfOfOurCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountBuyingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountBuyingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountSellingLocalAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountSellingLocalAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountSellingUSDAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountSellingUSDAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ApprovaStatusForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ApprovaStatusForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Ararigaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Ararigaku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BY_PASS_VALIDATION_RULE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BY_PASS_VALIDATION_RULE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BadDebtAging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BadDebtAging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BadDebtCheckBox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BadDebtCheckBox__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BankAccountForReceiving__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BankAccountForReceiving__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BeneficiaryBuyingContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BeneficiaryBuyingContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Bikou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Bikou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BillDataUpdateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BillDataUpdateTime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BillNameForInternal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BillNameForInternal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyInTaxAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyInTaxAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyTaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyTaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyingCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingDebitAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyingDebitAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingVATCreditAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyingVATCreditAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.BuyingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.BuyingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnitFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ChargeUnitFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnitInPrint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ChargeUnitInPrint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ChargeUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ChargeUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CollectDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.CollectDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ContainerID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerSizeFormula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ContainerSizeFormula__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ContainerSize__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ContainerSize__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Cost_Allocation_Catetory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Cost_Allocation_Catetory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.CurrencyBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyConversionBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.CurrencyConversionBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CurrencyConversionSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.CurrencyConversionSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.DUE_DATE_OF_PAYMENT_EXCLUDE_TAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.DataUpdateStatusBillToQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.DataUpdateStatusBillToQL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateBuyingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateBuyingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateBuyingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateBuyingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateIDVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateIDVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateSellingUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateSellingUpdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRateSellingVAT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRateSellingVAT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRequiredForBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRequiredForBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ExchangeRequiredForSelling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ExchangeRequiredForSelling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.House_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.House_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.IS_DESTINATION_A_BROKER__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.IS_DESTINATION_A_BROKER__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InsatuyouSyohinEng__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.InsatuyouSyohinEng__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InsatuyouSyohin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.InsatuyouSyohin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_Destination_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Invoice_Destination_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoiceto_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Invoiceto_type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.KawaseBay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.KawaseBay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.KawaseSel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.KawaseSel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Last_Sent_Uncollected_Charge_Reminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Last_Sent_Uncollected_Charge_Reminder__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.MASTER_B_L__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.MASTER_B_L__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PROFIT_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PROFIT_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerCreditJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerCreditJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerCredit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerCredit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerDebitJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerDebitJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerDebit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerDebit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerProduct__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerSeisanJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisanUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerSeisanUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PartnerSeisan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PartnerSeisan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PayDueDateAutoSetting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PayDueDateAutoSetting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymentTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PaymentTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PricingRecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PricingRecordType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PrintFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PrintFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProductSyobunrui__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProductSyobunrui__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProductTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProductTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitIncludeTaxLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProfitIncludeTaxLocal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProfitIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioIncludeTaxUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProfitRatioIncludeTaxUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioIncludeTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProfitRatioIncludeTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ProfitRatioUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ProfitRatioUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.QuoteLineID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.QuoteLineID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Recordtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Recordtype__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.RiekirituMisei__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.RiekirituMisei__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SalesAccountedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SalesAccountedDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SeikyuBangou__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SeikyuBangou__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SeikyusakiTantosya__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SeikyusakiTantosya__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Seikyusaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Seikyusaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellACSetProcess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellACSetProcess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellAmountJPN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellAmountJPN__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellAmountUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellDifferentiation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellDifferentiation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmountJPY_NoRound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellInTaxAmountJPY_NoRound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmountJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellInTaxAmountJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellInTaxAmount_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellInTaxAmount_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellTankaJPY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTankaUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellTankaUSD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTaxNum_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellTaxNum_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellTaxNum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellTaxNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingBankTransactionCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellingBankTransactionCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingCreditAccoutingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellingCreditAccoutingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellingDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingVATCreditAccountingcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellingVATCreditAccountingcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SellingVATDebitAccountingCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SellingVATDebitAccountingCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Selling_Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Selling_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Selling_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Selling_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SerchSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SerchSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Shiiresaki__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Shiiresaki__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.SiharaisakiSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.SiharaisakiSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Suryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Suryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Tariff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Tariff__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Tatekae__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Tatekae__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TaxInitial__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TaxInitial__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TaxShow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TaxShow__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TorihikisakiLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TorihikisakiLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.UNPAID_BALANCE_OF_BUYING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.UNPAID_BALANCE_OF_BUYING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.UNPAID_BALANCE_OF_SELLING_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.UNPAID_BALANCE_OF_SELLING_USD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.USDTaxAdjustmentSell__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.USDTaxAdjustmentSell__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.USDTaxAdjustment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.USDTaxAdjustment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Uncollected_Charge_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Uncollected_Charge_Reminder_Sent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VAT_INVOICE_TO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.VAT_INVOICE_TO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.buying_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_credit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.buying_credit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.buying_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.buying_debit_tax_type_accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.buying_debit_tax_type_accounting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.curr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.curr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.selling_credit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.selling_credit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.selling_debit_category_accouting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.selling_debit_category_accouting__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkDefaultTax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkDefaultTax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkPP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayBaseDateInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkPayBaseDateInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayBaseDatePayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkPayBaseDatePayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayConditionInvoiceTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkPayConditionInvoiceTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkPayConditionPayTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkPayConditionPayTo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSBS2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkSBS2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSBS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkSBS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSeikyuSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkSeikyuSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkShireSyubetu__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkShireSyubetu__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkSuryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkSuryo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.wkTaxFlag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.wkTaxFlag__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymentToRelationshipType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PaymentToRelationshipType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.ServiceNameInConsolBuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.ServiceNameInConsolBuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.CountOfOfConnectedTrxPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.CountOfOfConnectedTrxPlan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingIncTaxFCYInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountBuyingIncTaxFCYInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.AmountBuyingIncTaxLocalInput__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.AmountBuyingIncTaxLocalInput__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Invoice_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Payment_to_Short_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Payment_to_Short_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.InvoicetoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.InvoicetoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.PaymenttoShortname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.PaymenttoShortname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Cargo_status_is_changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Cargo_status_is_changed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VATratebuying__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.VATratebuying__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.VATrateselling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.VATrateselling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Reference_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Reference_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofBuyingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TotalAmountofBuyingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofBuyingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TotalAmountofBuyingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofSellingFCYAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TotalAmountofSellingFCYAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.TotalAmountofSellingLocalAdjust__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.TotalAmountofSellingLocalAdjust__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Invoice_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Invoice_No__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Summary_of_Billings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Summary_of_Billings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleBilling.Anken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarPartialCopySOId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddBillingstoCollectionVariable_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CrossboarderRecordType</name>
        <label>Crossboarder Record Type</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cross_Boarder_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DomesticTransportationRecordType</name>
        <label>Domestic Transportation RecordType</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDomesticTransportationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Express_RecordType</name>
        <label>Express RecordType</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Express_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Logistics_Service_RecordType</name>
        <label>Logistics Service RecordType</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetLogisticsServiceRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ocean_Export_RecordType</name>
        <label>Ocean Export RecordType</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOceanExportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OceanImportRecordType</name>
        <label>Ocean Import RecordType</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOceanImportRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuotationRecordType</name>
        <label>Quotation RecordType</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuotationRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CopyAllBillingsorSeparate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Record_Type_of_SO</name>
        <label>Check Record Type of SO</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AirExport</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OutAir_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirExportRecordType</targetReference>
            </connector>
            <label>Air Export</label>
        </rules>
        <rules>
            <name>Air_Import</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InAir</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>airimportlock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAirImportRecordType</targetReference>
            </connector>
            <label>Air Import</label>
        </rules>
        <rules>
            <name>Cross_Boarder</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CrossBoarder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CrossBoarderLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cross_Boarder_RecordType</targetReference>
            </connector>
            <label>Cross Boarder</label>
        </rules>
        <rules>
            <name>Domestic_Transportation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic_Transportation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Domestic_Transportation_Lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDomesticTransportationRecordType</targetReference>
            </connector>
            <label>Domestic Transportation</label>
        </rules>
        <rules>
            <name>Express</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Express</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ExpressLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Express_RecordType</targetReference>
            </connector>
            <label>Express</label>
        </rules>
        <rules>
            <name>Logistics_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LogisticsService</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LogisticsServiceLock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLogisticsServiceRecordType</targetReference>
            </connector>
            <label>Logistics Service</label>
        </rules>
        <rules>
            <name>Ocean_Export</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>oceanexport_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOceanExportRecordType</targetReference>
            </connector>
            <label>Ocean Export</label>
        </rules>
        <rules>
            <name>Ocean_Import</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RecordType1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>oceanimport_lock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOceanImportRecordType</targetReference>
            </connector>
            <label>Ocean Import</label>
        </rules>
        <rules>
            <name>Quotation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SHIPMENT_information.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QUOTATION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuotationRecordType</targetReference>
            </connector>
            <label>Quotation</label>
        </rules>
    </decisions>
    <decisions>
        <name>CopyAllBillingsorSeparate</name>
        <label>Copy All Billings or Separate ?</label>
        <locationX>1238</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Full_Copy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FullCopy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatenewFULLCOPYSHIPMENTrecord</targetReference>
            </connector>
            <label>Full Copy</label>
        </rules>
        <rules>
            <name>PatialCopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PartialCopy</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatenewPartialSHIPMENT</targetReference>
            </connector>
            <label>Partial Copy</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectBillings</name>
        <dataType>String</dataType>
        <displayField>Summary_of_Billings__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AnkenMeisai__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Full Copy/Partical Copy SHIPMENT {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Full Copy/Partical Copy SHIPMENT</label>
    <loops>
        <name>Check_with_to_Copy</name>
        <label>Check with to Copy</label>
        <locationX>930</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Original_Bill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_value_for_Billing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreatenewBillingsrecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1282</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Original_Bill_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_value_for_Billing_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Billings_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billings_0</name>
        <label>Create Billings</label>
        <locationX>1282</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Redirect_to_Record_0</targetReference>
        </connector>
        <inputReference>VarBillingsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatenewBillingsrecords</name>
        <label>Create new Billings records</label>
        <locationX>930</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Redirect_to_Record</targetReference>
        </connector>
        <inputReference>VarBillingsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreatenewFULLCOPYSHIPMENTrecord</name>
        <label>Create new FULL COPY SHIPMENT record</label>
        <locationX>930</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>VarFullCopySOId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Original_Bill</targetReference>
        </connector>
        <inputAssignments>
            <field>ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlertDebitIssuedBefore__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.AlertDebitIssuedBefore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLtype__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BLtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BookingNv__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BookingNv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BookingStatus__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARGO_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CARGO_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNEE_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CNEE_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CarrierType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CarrierType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cnee__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Cnee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATE_OF_HOUSE_BL_ISSUED__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DATE_OF_HOUSE_BL_ISSUED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>D_O_type__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.D_O_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebitIssuedDeadline__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DebitIssuedDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryAgent__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DeliveryAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field1__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Field1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalDestination__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Freight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_and_charges__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Freight_and_charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GOODS_ATTACHMENT__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GOODS_ATTACHMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoodsDescriptiononAN__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GoodsDescriptiononAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrossWeight__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseBookingNo__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadLocation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.LoadLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MASTER_BOOKINGNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAWB__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MAWB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFreight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MFreight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSurrender__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MSurrender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marks_and_Numbers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Marks_and_Numbers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Master_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measurement__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Measurement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOTIFY_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.NOTIFY_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_LoadingConfirmation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.No_Of_LoadingConfirmation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Original_BL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.No_of_Original_BL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Package_or_Container__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.No_of_Package_or_Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notifyparty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Notifyparty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfContainers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.NumberOfContainers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Payable_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceOfHouseBLIssued__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PlaceOfHouseBLIssued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Delivery__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Place_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofDeliveryshowonPOD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PlaceofDeliveryshowonPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortOfDischargeDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PortOfDischargeDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortOfLoadingDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PortOfLoadingDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prepaid_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Prepaid_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationPaymentCondition__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.QuotationPaymentCondition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SUB_RECORD_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.SUB_RECORD_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondNotifyParty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.SecondNotifyParty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmountOfBuyingFCYRollup__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.TotalAmountOfBuyingFCYRollup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TranporationType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.TranporationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VASRequire__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.VASRequire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shipper__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.shipper__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreatenewPartialSHIPMENT</name>
        <label>Create new Partial SHIPMENT</label>
        <locationX>1282</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>VarPartialCopySOId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Original_Bill_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlertDebitIssuedBefore__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.AlertDebitIssuedBefore__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BLtype__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BLtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BookingNv__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BookingNv__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BookingStatus__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.BookingStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CARGO_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CARGO_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNEE_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CNEE_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CarrierType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.CarrierType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cnee__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Cnee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DATE_OF_HOUSE_BL_ISSUED__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DATE_OF_HOUSE_BL_ISSUED__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>D_O_type__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.D_O_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DebitIssuedDeadline__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DebitIssuedDeadline__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryAgent__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.DeliveryAgent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETA__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ETA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ETD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.ETD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field1__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Field1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinalDestination__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.FinalDestination__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Freight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_and_charges__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Freight_and_charges__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GOODS_ATTACHMENT__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GOODS_ATTACHMENT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GoodsDescriptiononAN__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GoodsDescriptiononAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GrossWeight__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.GrossWeight__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HouseBookingNo__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.HouseBookingNo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoadLocation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.LoadLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MASTER_BOOKINGNO__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MASTER_BOOKINGNO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAWB__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MAWB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MFreight_Collect_Prepaid__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MFreight_Collect_Prepaid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSurrender__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.MSurrender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Master_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Measurement__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Measurement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NOTIFY_ADDRESS_ON_B_L__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.NOTIFY_ADDRESS_ON_B_L__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_Of_LoadingConfirmation__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.No_Of_LoadingConfirmation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Original_BL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.No_of_Original_BL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoofPackageorContainer__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.NoofPackageorContainer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notifyparty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Notifyparty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberOfContainers__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.NumberOfContainers__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.POD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>POL__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.POL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Partner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payable_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Payable_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceOfHouseBLIssued__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PlaceOfHouseBLIssued__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Place_Of_Delivery__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Place_Of_Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlaceofDeliveryshowonPOD__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PlaceofDeliveryshowonPOD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortOfDischargeDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PortOfDischargeDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PortOfLoadingDetail__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.PortOfLoadingDetail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prepaid_at__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.Prepaid_at__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuotationPaymentCondition__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.QuotationPaymentCondition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SUB_RECORD_TYPE__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.SUB_RECORD_TYPE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SecondNotifyParty__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.SecondNotifyParty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAmountOfBuyingFCYRollup__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.TotalAmountOfBuyingFCYRollup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TranporationType__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.TranporationType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VASRequire__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.VASRequire__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>shipper__c</field>
            <value>
                <elementReference>Get_SHIPMENT_information.shipper__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cross_Boarder_RecordType</name>
        <label>Get Cross Boarder RecordType</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrossboarderRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CrossBoarder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Express_RecordType</name>
        <label>Get Express RecordType</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Express_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Express</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Bill</name>
        <label>Get Original Bill</label>
        <locationX>930</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_with_to_Copy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SHIPMENT_information.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Bill_0</name>
        <label>Get Original Bill</label>
        <locationX>1282</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SHIPMENT_information.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SHIPMENT_information</name>
        <label>Get SHIPMENT information</label>
        <locationX>1238</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenChooseBillings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirExportRecordType</name>
        <label>Get Air Export RecordType</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AirExportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OutAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAirImportRecordType</name>
        <label>Get Air Import RecordType</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AirImportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InAir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDomesticTransportationRecordType</name>
        <label>Get Domestic Transportation RecordType</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DomesticTransportationRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Domestic_Transportation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLogisticsServiceRecordType</name>
        <label>Get Logistics Service RecordType</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Logistics_Service_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LogisticsService</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOceanExportRecordType</name>
        <label>Get Ocean Export RecordType</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ocean_Export_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOceanImportRecordType</name>
        <label>Get Ocean Import RecordType</label>
        <locationX>1898</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OceanImportRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecordType1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuotationRecordType</name>
        <label>Get Quotation RecordType</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuotationRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>clofor_com_cfs__CustomObject1__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QUOTATION</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Redirect_to_Record</name>
        <label>Redirect to Record</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirectorecord</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarFullCopySOId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_Record_0</name>
        <label>Redirect to Record</label>
        <locationX>1282</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirectorecord_0</name>
            <extensionName>clofor_com_cfs:RecordRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>VarPartialCopySOId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenChooseBillings</name>
        <label>Screen Choose Billings</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Record_Type_of_SO</targetReference>
        </connector>
        <fields>
            <name>choosetocreate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Choose which Type Of Copy !&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FullCopy</name>
            <dataType>Boolean</dataType>
            <fieldText>Full Copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PartialCopy</name>
            <dataType>Boolean</dataType>
            <fieldText>Partial Copy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SHIPMENT_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleBilling</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>VarBillingsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>VarFullCopySOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewShipmentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPartialCopySOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarShipment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomObject1__c</objectType>
    </variables>
</Flow>
