force-app/main/default/flows/MassiveDeleteBilling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Group_Deleted</name>
        <label>Group Deleted</label>
        <locationX>970</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>Needtodelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Checkwithtodelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Checkwithtodelete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>492</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Checkwithtodelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>F_TMS_Bill</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Checkwithtodelete.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Deleted</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectBillings</name>
        <dataType>String</dataType>
        <displayField>Summary_of_Billings__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSORecords.Id</elementReference>
            </value>
        </filters>
        <object>AnkenMeisai__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Massive Delete Billing {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Massive Delete Billing</label>
    <loops>
        <name>Checkwithtodelete</name>
        <label>Check with to delete</label>
        <locationX>655</locationX>
        <locationY>323</locationY>
        <collectionReference>GetAllBillingswithsameSO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Billings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Billings</name>
        <label>Delete Billings</label>
        <locationX>899</locationX>
        <locationY>286</locationY>
        <inputReference>Needtodelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetAllBillingswithsameSO</name>
        <label>Get All Billings with same S/O</label>
        <locationX>426</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checkwithtodelete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anken__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSORecords.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AnkenMeisai__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSORecords</name>
        <label>Get S/O Records</label>
        <locationX>438</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screenchoosebilling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screenchoosebilling</name>
        <label>Screen choose billing</label>
        <locationX>216</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAllBillingswithsameSO</targetReference>
        </connector>
        <fields>
            <name>choosetodelete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Choose which F/TMS Bill to be deleted!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>F_TMS_Bill</name>
            <choiceReferences>CollectBillings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>F/TMS Bill</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>311</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetSORecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Needtodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AnkenMeisai__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
