force-app/main/default/flows/MassivedeleteFTMSBillTrxPlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Group_Deleted</name>
        <label>Group Deleted</label>
        <locationX>799</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Needdeleted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_with_to_delete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_with_to_delete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check</name>
        <label>Check</label>
        <locationX>499</locationX>
        <locationY>366</locationY>
        <defaultConnector>
            <targetReference>Check_with_to_delete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Details_Cost</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Check_with_to_delete.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Deleted</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CollectBillings</name>
        <dataType>String</dataType>
        <displayField>DetailCostSummary__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPaymentRequest.Id</elementReference>
            </value>
        </filters>
        <object>FMSBillPayReq__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Massive delete F/TMS Bill + Trx Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Massive delete F/TMS Bill + Trx Plan</label>
    <loops>
        <name>Check_with_to_delete</name>
        <label>Check with to delete</label>
        <locationX>501</locationX>
        <locationY>174</locationY>
        <collectionReference>Get_All_Detail_Costs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Delete_Trx_Plan_Billing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Trx_Plan_Billing</name>
        <label>Delete Trx Plan+Billing</label>
        <locationX>874</locationX>
        <locationY>163</locationY>
        <inputReference>Get_All_Detail_Costs</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Detail_Costs</name>
        <label>Get All Detail Costs</label>
        <locationX>259</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_with_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentRequestID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPaymentRequest.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FMSBillPayReq__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPaymentRequest</name>
        <label>Get Payment Request</label>
        <locationX>261</locationX>
        <locationY>147</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenChooseBilling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentRequest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ScreenChooseBilling</name>
        <label>Screen Choose Billing</label>
        <locationX>103</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_All_Detail_Costs</targetReference>
        </connector>
        <fields>
            <name>Choosetodelete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose which F/TMS Bill+Trx Plan to be deleted!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_Cost</name>
            <choiceReferences>CollectBillings</choiceReferences>
            <dataType>String</dataType>
            <fieldText>F/TMS Bill+Trx Plan</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>GetPaymentRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Needdeleted</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FMSBillPayReq__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
