force-app/main/default/flows/Quote_Line_Update_Fxrate_for_3rd_Currency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Fxrate_Buying_3rd_FCY_is_null</name>
        <label>Fxrate Buying 3rd-FCY is null</label>
        <locationX>50</locationX>
        <locationY>560</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fxrate_Buying_3rd_FCY_is_null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyingListPrice3rdCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FxrateBuying3rdCurrencyFCY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFxratebuying3rdFCY</targetReference>
            </connector>
            <label>Fxrate Buying 3rd-FCY is null yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fxrate_Buying_3rd_local_is_null</name>
        <label>Fxrate Buying 3rd-local is null</label>
        <locationX>501</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Buying_3rd_FCY_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fxrate_Buying_3rd_local_is_null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyingListPrice3rdCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FxrateBuying3rdCurrencyLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fxrate_buying_3rd_local</targetReference>
            </connector>
            <label>Fxrate Buying 3rd-local is null yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fxrate_Selling_3rd_FCY_is_null</name>
        <label>Fxrate Selling 3rd-FCY is null</label>
        <locationX>848</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Buying_3rd_local_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fxrate_Selling_3rd_FCY_is_null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellingListPrice3rdCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FxrateSelling3rdCurrencyFCY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fxrate_selling_3rd_FCY</targetReference>
            </connector>
            <label>Fxrate Selling 3rd-FCY is null yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fxrate_Selling_3rd_local_is_null</name>
        <label>Fxrate Selling 3rd-local is null</label>
        <locationX>1206</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Selling_3rd_FCY_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fxrate_Selling_3rd_local_is_null_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellingListPrice3rdCurrency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__FxrateSelling3rdCurrencyLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fxrate_selling_3rd_local</targetReference>
            </connector>
            <label>Fxrate Selling 3rd-local is null yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_3rd_localFxrate</name>
        <label>Have 3rd-localFxrate?</label>
        <locationX>427</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Buying_3rd_FCY_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_3rd_localFxrate_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fxrate_buying_3rd_local</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fxrate_Buying_3rd_Local</targetReference>
            </connector>
            <label>Have 3rd-localFxrate yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Fxrate</name>
        <label>Have Fxrate?</label>
        <locationX>1034</locationX>
        <locationY>554</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Selling_3rd_FCY_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_fxrate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fxrate_selling_3rd_local</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fxrate_Selling_3rd_Local</targetReference>
            </connector>
            <label>found fxrate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Fxrate_3rd_FCY</name>
        <label>Have Fxrate 3rd-FCY?</label>
        <locationX>850</locationX>
        <locationY>590</locationY>
        <defaultConnector>
            <targetReference>Fxrate_Buying_3rd_local_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Fxrate_3rd_FCY_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fxrate_selling_3rd_FCY</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fxrate_selling_3rd_FCY</targetReference>
            </connector>
            <label>Have Fxrate 3rd-FCY yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_Fxrate_buying_3rd_FCY</name>
        <label>Have Fxrate buying 3rd-FCY?</label>
        <locationX>51</locationX>
        <locationY>844</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have_Fxrate_buying_3rd_FCY_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFxratebuying3rdFCY</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fxrate_Buying_3rd_FCY</targetReference>
            </connector>
            <label>Have Fxrate buying 3rd-FCY yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Line| Update Fxrate for 3rd Currency {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Quote Line| Update Fxrate for 3rd Currency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fxrate_buying_3rd_local</name>
        <label>Get Fxrate buying 3rd-local</label>
        <locationX>433</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_3rd_localFxrate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyBuying__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ToCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.clofor_com_cfs__Site_Custom_Settings__c.clofor_com_cfs__BillingDefaultCurrency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MgmtMaster__c</object>
        <sortField>Mgmt_Exrate_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fxrate_selling_3rd_FCY</name>
        <label>Get Fxrate selling 3rd-FCY</label>
        <locationX>751</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Fxrate_3rd_FCY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencySelling__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ToCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.clofor_com_cfs__Site_Custom_Settings__c.clofor_com_cfs__FCY_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MgmtMaster__c</object>
        <sortField>Mgmt_Exrate_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fxrate_selling_3rd_local</name>
        <label>Get Fxrate selling 3rd-local</label>
        <locationX>1223</locationX>
        <locationY>552</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Fxrate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencySelling__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ToCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.clofor_com_cfs__Site_Custom_Settings__c.clofor_com_cfs__BillingDefaultCurrency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MgmtMaster__c</object>
        <sortField>Mgmt_Exrate_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFxratebuying3rdFCY</name>
        <label>Get Fxrate buying 3rd-FCY</label>
        <locationX>54</locationX>
        <locationY>709</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Fxrate_buying_3rd_FCY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FromCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyBuying__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ToCurrency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.clofor_com_cfs__Site_Custom_Settings__c.clofor_com_cfs__FCY_Currency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MgmtMaster__c</object>
        <sortField>Mgmt_Exrate_End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fxrate_Buying_3rd_FCY</name>
        <label>Update Fxrate Buying 3rd-FCY</label>
        <locationX>62</locationX>
        <locationY>991</locationY>
        <inputAssignments>
            <field>CurrencyConverseForBuying__c</field>
            <value>
                <stringValue>3rd Currency to Local and FCY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FxrateBuying3rdCurrencyFCY__c</field>
            <value>
                <elementReference>GetFxratebuying3rdFCY.Mgmt_Exrate_BuyingfromDomstic3rdvendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fxrate_Buying_3rd_Local</name>
        <label>Update Fxrate Buying 3rd-Local</label>
        <locationX>434</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>Fxrate_Buying_3rd_FCY_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyConverseForBuying__c</field>
            <value>
                <stringValue>3rd Currency to Local and FCY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FxrateBuying3rdCurrencyLocal__c</field>
            <value>
                <elementReference>Get_Fxrate_buying_3rd_local.Mgmt_Exrate_BuyingfromDomstic3rdvendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fxrate_selling_3rd_FCY</name>
        <label>Update fxrate selling 3rd-FCY</label>
        <locationX>690</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Fxrate_Buying_3rd_local_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyConverseForSelling__c</field>
            <value>
                <stringValue>3rd Currency to Local and FCY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FxrateSelling3rdCurrencyFCY__c</field>
            <value>
                <elementReference>Get_Fxrate_selling_3rd_FCY.Mgmt_Exrate_FowardingtoDomesticCustomer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fxrate_Selling_3rd_Local</name>
        <label>Update Fxrate Selling 3rd-Local</label>
        <locationX>1042</locationX>
        <locationY>369</locationY>
        <connector>
            <targetReference>Fxrate_Selling_3rd_FCY_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyConverseForSelling__c</field>
            <value>
                <stringValue>3rd Currency to Local and FCY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FxrateSelling3rdCurrencyLocal__c</field>
            <value>
                <elementReference>Get_Fxrate_selling_3rd_local.Mgmt_Exrate_FowardingtoDomesticCustomer__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1088</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Fxrate_Selling_3rd_local_is_null</targetReference>
        </connector>
        <object>QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
