force-app/main/default/flows/RollupCBMGWQuantityfromSOtoConsol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Signle_value</name>
        <label>Assign Signle value</label>
        <locationX>422</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>CBM_Value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SO.CBM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GW_Value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SO.weight__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cargoquantity_value</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_SO.carton__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_SO</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rollup CBM, GW,Cargo {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Rollup CBM, GW,Quantity from SO to Consol</label>
    <loops>
        <name>Loop_through_SO</name>
        <label>Loop through SO</label>
        <locationX>666</locationX>
        <locationY>520</locationY>
        <collectionReference>SO_Var</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Signle_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_to_Consol</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SO_have_Consol_same</name>
        <label>Get All SO have Consol same</label>
        <locationX>666</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_SO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterAnkenName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MasterAnkenName__c</elementReference>
            </value>
        </filters>
        <object>CustomObject1__c</object>
        <outputReference>SO_Var</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CBM__c</queriedFields>
        <queriedFields>carton__c</queriedFields>
        <queriedFields>weight__c</queriedFields>
        <queriedFields>MasterAnkenName__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Consol</name>
        <label>Update to Consol</label>
        <locationX>970</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MasterAnkenName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>rollupcargoquantity__c</field>
            <value>
                <elementReference>Cargoquantity_value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rollupcbm__c</field>
            <value>
                <elementReference>CBM_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>rollupgw__c</field>
            <value>
                <elementReference>GW_Value</elementReference>
            </value>
        </inputAssignments>
        <object>MasterAnken__c</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_All_SO_have_Consol_same</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterAnkenName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CustomObject1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Cargoquantity_value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>CBM_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>Consol</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MasterAnken__c</objectType>
    </variables>
    <variables>
        <name>GW_Value</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>SO_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomObject1__c</objectType>
    </variables>
</Flow>
