force-app/main/default/flows/SVC_Pricing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>X10_Assign_0_value</name>
        <label>10 Assign 0 value</label>
        <locationX>672</locationX>
        <locationY>3258</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MinSellingUnitPriceUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_variable_fields_to_record_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X10_Min_Selling_Unit_Price_FCY</name>
        <label>10. Min Selling Unit Price FCY</label>
        <locationX>388</locationX>
        <locationY>3201</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MinSellingUnitPriceUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x10_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_all_variable_fields_to_record_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Assign_0_value</name>
        <label>1. Assign 0 value</label>
        <locationX>666</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>var_assign.BuyKingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X1_Assign_Buying_unit_Price_local</name>
        <label>1. Assign Buying unit Price (local)</label>
        <locationX>988</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>var_assign.BuyKingaku__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RollupSVCBuyUnitPriceLocal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X2_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_Assign_0_value</name>
        <label>2. Assign 0 value</label>
        <locationX>663</locationX>
        <locationY>938</locationY>
        <assignmentItems>
            <assignToReference>var_assign.BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X5_If_Standard_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X2_Assign_Buying_Unit_Price_FCY</name>
        <label>2. Assign Buying Unit Price FCY</label>
        <locationX>390</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>var_assign.BuyAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.RollupSVCBuyUnitPriceUSD__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X5_If_Standard_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Condition 7+8</description>
        <name>X5_1_Selling_Unit_Price_Local</name>
        <label>5.1. Selling Unit Price Local</label>
        <locationX>371</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellKingakuJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x5_update_selling_unit_price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X6_If_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Condition 5</description>
        <name>X5_2_Selling_Unit_Price_local</name>
        <label>5.2. Selling Unit Price local</label>
        <locationX>938</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellKingakuJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x3_selling_unit_price_local</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X6_If_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X5_Assign_0_value</name>
        <label>5. Assign 0 value</label>
        <locationX>664</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellKingakuJPY__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X6_If_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6_Assign_0_value</name>
        <label>6. Assign 0 value</label>
        <locationX>675</locationX>
        <locationY>1707</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MaxSellingUnitPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7_If_Min_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X6_Max_Selling_Unit_Price_local</name>
        <label>6. Max Selling Unit Price local</label>
        <locationX>391</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MaxSellingUnitPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x6_update_max_selling_unit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X7_If_Min_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X7_Assign_0_value</name>
        <label>7. Assign 0 value</label>
        <locationX>676</locationX>
        <locationY>2088</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MinSellingUnitPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X8_If_USD_Standard_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X7_Min_Selling_Unit_Price_local</name>
        <label>7. Min Selling Unit Price local</label>
        <locationX>919</locationX>
        <locationY>1876</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MinSellingUnitPriceLocal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x7_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X8_If_USD_Standard_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X8_1_Selling_Unit_Price_USD</name>
        <label>8.1. Selling Unit Price USD</label>
        <locationX>375</locationX>
        <locationY>2233</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x8_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X9_USD_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Condition 6</description>
        <name>X8_2_Selling_Unit_Price_FCY</name>
        <label>8.2. Selling Unit Price FCY</label>
        <locationX>1116</locationX>
        <locationY>2353</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x4_update_sellingunitprice_usd</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X9_USD_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X8_Assign_0_value</name>
        <label>8. Assign 0 value</label>
        <locationX>673</locationX>
        <locationY>2464</locationY>
        <assignmentItems>
            <assignToReference>var_assign.SellAmountUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X9_USD_Max_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X9_Assign_0_value</name>
        <label>9. Assign 0 value</label>
        <locationX>672</locationX>
        <locationY>2869</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MaxSellingUnitPriceUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X10_USD_Min_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>X9_Max_Selling_Unit_Price_FCY</name>
        <label>9. Max Selling Unit Price FCY</label>
        <locationX>967</locationX>
        <locationY>2710</locationY>
        <assignmentItems>
            <assignToReference>var_assign.MaxSellingUnitPriceUSD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>x9_update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>X10_USD_Min_Margin_Rate_not_null_or_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Condition 17+18</description>
        <name>X10_USD_Min_Margin_Rate_not_null_or_changed</name>
        <label>10. USD Min Margin Rate not null or changed</label>
        <locationX>662</locationX>
        <locationY>3059</locationY>
        <defaultConnector>
            <targetReference>X10_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>10. False</defaultConnectorLabel>
        <rules>
            <name>X10_True</name>
            <conditionLogic>(1 AND 2 AND (3 OR 9)) OR ((4 OR 5) AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinimumBuying__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceUSD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10_Min_Selling_Unit_Price_FCY</targetReference>
            </connector>
            <label>10. True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 1 + 3</description>
        <name>X1_Check</name>
        <label>1. Check If Buying Unit Price Local null or Rollup Buying Unit Price Local changed</label>
        <locationX>661</locationX>
        <locationY>312</locationY>
        <defaultConnector>
            <targetReference>X1_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1. False</defaultConnectorLabel>
        <rules>
            <name>X1_True</name>
            <conditionLogic>((1 OR 7) AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Assign_Buying_unit_Price_local</targetReference>
            </connector>
            <label>1. True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 2+4</description>
        <name>X2_Check</name>
        <label>2. Check If Buying Unit Price FCY null or Rollup Buying Unit Price FCY changed</label>
        <locationX>658</locationX>
        <locationY>692</locationY>
        <defaultConnector>
            <targetReference>X2_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2. False</defaultConnectorLabel>
        <rules>
            <name>X2_True</name>
            <conditionLogic>((1 OR 7) AND 2 AND 3) OR (4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Assign_Buying_Unit_Price_FCY</targetReference>
            </connector>
            <label>2. True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 7+8</description>
        <name>X5_If_Standard_Margin_Rate_not_null_or_changed</name>
        <label>5. If Standard Margin Rate not null or changed</label>
        <locationX>653</locationX>
        <locationY>1085</locationY>
        <defaultConnector>
            <targetReference>X5_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>5. False</defaultConnectorLabel>
        <rules>
            <name>X5_1_True</name>
            <conditionLogic>(1 AND (2 OR 10) AND 3 AND (4 OR 11)) OR ((5 OR 7) AND 6 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellKingakuJPY__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellKingakuJPY__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellKingakuJPY__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_1_Selling_Unit_Price_Local</targetReference>
            </connector>
            <label>5. True</label>
        </rules>
        <rules>
            <name>X5_2_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X5_2_Selling_Unit_Price_local</targetReference>
            </connector>
            <label>5.2 True (Condition5)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 9+10</description>
        <name>X6_If_Max_Margin_Rate_not_null_or_changed</name>
        <label>6. If Max Margin Rate not null or changed</label>
        <locationX>659</locationX>
        <locationY>1458</locationY>
        <defaultConnector>
            <targetReference>X6_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>6. False</defaultConnectorLabel>
        <rules>
            <name>X6_True</name>
            <conditionLogic>(1 AND 2 AND (3 OR 9)) OR ((4 OR 5) AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceLocal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceLocal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X6_Max_Selling_Unit_Price_local</targetReference>
            </connector>
            <label>6. True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 11 + 12</description>
        <name>X7_If_Min_Margin_Rate_not_null_or_changed</name>
        <label>7. If Min Margin Rate not null or changed</label>
        <locationX>667</locationX>
        <locationY>1867</locationY>
        <defaultConnector>
            <targetReference>X7_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>7. False</defaultConnectorLabel>
        <rules>
            <name>X7_True</name>
            <conditionLogic>(1 AND 2 AND (3 OR 9)) OR ((4 OR 5) AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceLocal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceLocal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyKingaku__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MinSellingUnitPriceLocal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X7_Min_Selling_Unit_Price_local</targetReference>
            </connector>
            <label>7. True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 13+14</description>
        <name>X8_If_USD_Standard_Margin_Rate_not_null_or_changed</name>
        <label>8. If USD Standard Margin Rate not null or changed</label>
        <locationX>666</locationX>
        <locationY>2236</locationY>
        <defaultConnector>
            <targetReference>X8_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>8. False</defaultConnectorLabel>
        <rules>
            <name>X8_1_True</name>
            <conditionLogic>(1 AND 2 AND (3 OR 9)) OR ((4 OR 5) AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellAmountUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__SellAmountUSD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X8_1_Selling_Unit_Price_USD</targetReference>
            </connector>
            <label>8.1. True</label>
        </rules>
        <rules>
            <name>X8_2_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCSellUnitPriceUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__StandardMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X8_2_Selling_Unit_Price_FCY</targetReference>
            </connector>
            <label>8.2. True (Condition 6)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condition 15+16</description>
        <name>X9_USD_Max_Margin_Rate_not_null_or_changed</name>
        <label>9. USD Max Margin Rate not null or changed</label>
        <locationX>664</locationX>
        <locationY>2626</locationY>
        <defaultConnector>
            <targetReference>X9_Assign_0_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>9. False</defaultConnectorLabel>
        <rules>
            <name>X9_True</name>
            <conditionLogic>(1 AND 2 AND (3 OR 9)) OR ((4 OR 5) AND 6 AND 7 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceUSD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__BuyAmountUSD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxMarginRate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__MaxSellingUnitPriceUSD__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X9_Max_Selling_Unit_Price_FCY</targetReference>
            </connector>
            <label>9. True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>x10_update</name>
        <dataType>Number</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__MinMarginRate__c}) * {!$Record.clofor_com_cfs__BuyAmountUSD__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>x3_selling_unit_price_local</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.clofor_com_cfs__RollupSVCBuyUnitPriceLocal__c} * (1+{!$Record.clofor_com_cfs__StandardMarginRate__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>x4_update_sellingunitprice_usd</name>
        <dataType>Number</dataType>
        <expression>{!$Record.clofor_com_cfs__RollupSVCBuyUnitPriceUSD__c} * (1+{!$Record.clofor_com_cfs__StandardMarginRate__c})</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>x5_update_selling_unit_price</name>
        <dataType>Currency</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__StandardMarginRate__c}) * {!$Record.clofor_com_cfs__BuyKingaku__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>x6_update_max_selling_unit</name>
        <dataType>Currency</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__MaxMarginRate__c}) * {!$Record.clofor_com_cfs__BuyKingaku__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>x7_update</name>
        <dataType>Currency</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__MinMarginRate__c}) * {!$Record.clofor_com_cfs__BuyKingaku__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>x8_update</name>
        <dataType>Number</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__StandardMarginRate__c}) * {!$Record.clofor_com_cfs__BuyAmountUSD__c}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>x9_update</name>
        <dataType>Number</dataType>
        <expression>(1+{!$Record.clofor_com_cfs__MaxMarginRate__c}) * {!$Record.clofor_com_cfs__BuyAmountUSD__c}</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>SVC Pricing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SVC Pricing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_all_variable_fields_to_record_fields</name>
        <label>Update all variable fields to record fields</label>
        <locationX>675</locationX>
        <locationY>3403</locationY>
        <inputAssignments>
            <field>BuyAmountUSD__c</field>
            <value>
                <elementReference>var_assign.BuyAmountUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BuyKingaku__c</field>
            <value>
                <elementReference>var_assign.BuyKingaku__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaxSellingUnitPriceLocal__c</field>
            <value>
                <elementReference>var_assign.MaxSellingUnitPriceLocal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MaxSellingUnitPriceUSD__c</field>
            <value>
                <elementReference>var_assign.MaxSellingUnitPriceUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinSellingUnitPriceLocal__c</field>
            <value>
                <elementReference>var_assign.MinSellingUnitPriceLocal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MinSellingUnitPriceUSD__c</field>
            <value>
                <elementReference>var_assign.MinSellingUnitPriceUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellAmountUSD__c</field>
            <value>
                <elementReference>var_assign.SellAmountUSD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SellKingakuJPY__c</field>
            <value>
                <elementReference>var_assign.SellKingakuJPY__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>X1_Check</targetReference>
        </connector>
        <object>TariffMaster__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>A variable store assign value for each field</description>
        <name>var_assign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>TariffMaster__c</objectType>
    </variables>
</Flow>
