force-app/main/default/flows/Transit_Update_information_to_F_TMS_SO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>CheckTransitCarrierCode</name>
        <label>Check Transit Carrier Code</label>
        <locationX>374</locationX>
        <locationY>1992</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transit_Carrier_Code_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.BREAL_BULK_INVOICE_PASSWORD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.BookingNv__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMasterCarrierConsolidator.Carrier_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMasterCarrierConsolidator.Carrier_Code__r.Carrier_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTransitCarrierCode</targetReference>
            </connector>
            <label>Transit Carrier Code null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransitPort</name>
        <label>Check Transit Port</label>
        <locationX>374</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>CheckTransitPortCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TransitPortnotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.TS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__TransitPort__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTransitPort</targetReference>
            </connector>
            <label>Transit Port not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransitPortCode</name>
        <label>Check Transit Port Code</label>
        <locationX>374</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>CheckTransitVessel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TransitPortCodenotnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.TransitPortCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__TransitPortCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTransitPortCode</targetReference>
            </connector>
            <label>Transit Port Code not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransitVessel</name>
        <label>Check Transit Vessel</label>
        <locationX>374</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>CheckTransitVoyage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Transit_Vessel_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.TransitV__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__TransitVesselFlight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTransitVessel</targetReference>
            </connector>
            <label>Transit Vessel Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckTransitVoyage</name>
        <label>Check Transit Voyage</label>
        <locationX>374</locationX>
        <locationY>1656</locationY>
        <defaultConnector>
            <targetReference>CheckTransitCarrierCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VoyageNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSHIPMENTRecord.TransitVoyage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clofor_com_cfs__TransitVoyage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTransitVoyage</targetReference>
            </connector>
            <label>Voyage Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transit| Update information to F/TMS SO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transit| Update information to F/TMS SO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMasterCarrierConsolidator</name>
        <label>Get Master Carrier Consolidator</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckTransitPort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MasterCarrierConsolidator__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSHIPMENTRecord</name>
        <label>Get SHIPMENT Record</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetMasterCarrierConsolidator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShipmentOrder__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomObject1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTransit</name>
        <label>Update Transit</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>GetSHIPMENTRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>CreateTransit__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTransitCarrierCode</name>
        <label>Update Transit Carrier Code</label>
        <locationX>242</locationX>
        <locationY>2112</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSHIPMENTRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BREAL_BULK_INVOICE_PASSWORD__c</field>
            <value>
                <elementReference>GetMasterCarrierConsolidator.Carrier_Code__r.Carrier_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTransitPort</name>
        <label>Update Transit Port</label>
        <locationX>242</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>CheckTransitPortCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSHIPMENTRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TS__c</field>
            <value>
                <elementReference>$Record.TransitPort__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTransitPortCode</name>
        <label>Update Transit Port Code</label>
        <locationX>242</locationX>
        <locationY>1104</locationY>
        <connector>
            <targetReference>CheckTransitVessel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSHIPMENTRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TransitPortCode__c</field>
            <value>
                <elementReference>$Record.TransitPortCode__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTransitVessel</name>
        <label>Update Transit Vessel</label>
        <locationX>242</locationX>
        <locationY>1440</locationY>
        <connector>
            <targetReference>CheckTransitVoyage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSHIPMENTRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TransitV__c</field>
            <value>
                <elementReference>$Record.TransitVesselFlight__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTransitVoyage</name>
        <label>Update Transit Voyage</label>
        <locationX>242</locationX>
        <locationY>1776</locationY>
        <connector>
            <targetReference>CheckTransitCarrierCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSHIPMENTRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TransitVoyage__c</field>
            <value>
                <elementReference>$Record.TransitVoyage__c</elementReference>
            </value>
        </inputAssignments>
        <object>CustomObject1__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Transit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1m</name>
            <connector>
                <targetReference>UpdateTransit</targetReference>
            </connector>
            <label>1m</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
