force-app/main/default/flows/UpdateActualCurrentOccupiedCapacityLocator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Planning</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Planning to Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Completed to Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>IF Stock In &amp;Measurement or Gross Weight Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Completed &amp; Measurement Or Gross Weight changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>IF Stock In &amp; Completed to Planning</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision40</name>
        <label>myDecision40</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Planning</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision48</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Completed to Planning</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision48</name>
        <label>myDecision48</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision54</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_49</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_49_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision54</name>
        <label>myDecision54</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision58</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_55</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_55</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_55_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Planning to Completed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision58</name>
        <label>myDecision58</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision62</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_59</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_59</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_59_A1</targetReference>
            </connector>
            <label>If Stock Out &amp; Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision62</name>
        <label>myDecision62</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision68</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_63</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_63</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_63_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Completed to Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision68</name>
        <label>myDecision68</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_69</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_69</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_69_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp;Measurement or Gross Weight Changed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision72</name>
        <label>myDecision72</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_73</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_73</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_73_A1</targetReference>
            </connector>
            <label>IF Stock Out &amp; Completed &amp; Measurement Or Gross Weight Changed</label>
        </rules>
    </decisions>
    <description>Checked on Template</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_11_A1_0281125400</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_11_A1_2491164331</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_11_A1_1764615711</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_11_A1_6803991357</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c))) &lt; 0,0,[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_17_A1_9864909801</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}))) &lt; 0,0,{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c))) &lt; 0 ,0, ([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_17_A1_8224255174</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c}))) &lt; 0 ,0, ({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c}))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_17_A1_8462019187</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_17_A1_2885774497</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_23_A1_9951538695</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - ({!myVariable_current.Measurement__c})) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - ({!myVariable_current.Measurement__c} ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c )) &lt;0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_23_A1_0158337619</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - ({!myVariable_current.GrossWeight__c} )) &lt;0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - ({!myVariable_current.GrossWeight__c}))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c  ) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_27_A1_1589713633</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}  ) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  ) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_27_A1_7395381123</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}  ) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}  )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_7769593086</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_27_A1_8111656977</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_27_A1_3632931741</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c))) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_34_myRule_33_A1_7225375744</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}))) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) )) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_35_myRule_33_A1_1810575013</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c}) )) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c}) ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) )) &lt;0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_38_myRule_37_A1_9780479695</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}) )) &lt;0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}) ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) )) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_39_myRule_37_A1_4661054656</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} -PRIORVALUE({!myVariable_current.GrossWeight__c}) )) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} -PRIORVALUE({!myVariable_current.GrossWeight__c}) ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1918667049</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_42_myRule_41_A1_9355592401</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - {!myVariable_current.Measurement__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - {!myVariable_current.Measurement__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_43_myRule_41_A1_0224446432</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_46_myRule_45_A1_6567848880</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_47_myRule_45_A1_2088560318</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_50_myRule_49_A1_1109724603</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - {!myVariable_current.Measurement__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  - {!myVariable_current.Measurement__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_51_myRule_49_A1_3066092530</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_52_myRule_49_A1_9748688536</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}
) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_53_myRule_49_A1_0820478215</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_56_myRule_55_A1_8625909270</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}
) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_57_myRule_55_A1_0235269607</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c}) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c})</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c  + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_60_myRule_59_A1_4862155022</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c}  + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_61_myRule_59_A1_3641765871</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_64_myRule_63_A1_4506210732</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_65_myRule_63_A1_4810595462</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_66_myRule_63_A1_1902072210</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} + {!myVariable_current.Measurement__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c + [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_67_myRule_63_A1_0257003970</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} + {!myVariable_current.GrossWeight__c}</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c))) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c + ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_7406404932</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}))) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} + ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c))) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityCBM__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_70_myRule_69_A1_9326021103</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} - ({!myVariable_current.Measurement__c} -PRIORVALUE({!myVariable_current.Measurement__c}))) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityCBM__c} - ({!myVariable_current.Measurement__c} -PRIORVALUE({!myVariable_current.Measurement__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - ( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)) ) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c - ( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_71_myRule_69_A1_5977933573</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - ( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c})) ) &lt; 0, 0, {!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} - ( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c})))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) )) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - ([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_74_myRule_73_A1_7543690084</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}) )) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - ({!myVariable_current.Measurement__c} - PRIORVALUE({!myVariable_current.Measurement__c}) ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - ( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) )) &lt; 0, 0, [clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - ( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c -PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c) ))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_75_myRule_73_A1_1123732436</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - ( {!myVariable_current.GrossWeight__c} -PRIORVALUE({!myVariable_current.GrossWeight__c}) )) &lt; 0, 0, {!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - ( {!myVariable_current.GrossWeight__c} -PRIORVALUE({!myVariable_current.GrossWeight__c}) ))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c))) &lt; 0, 0,[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__ActualOccupiedCapacityKG__c +( [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c - PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c)) )
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_5202694259</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c}))) &lt; 0, 0,{!myVariable_current.StockLocator__r.ActualOccupiedCapacityKG__c} +( {!myVariable_current.GrossWeight__c} - PRIORVALUE({!myVariable_current.GrossWeight__c})) )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c) &lt; 0,0 , ([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityCBM__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_5_A1_8469510050</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}) &lt; 0,0 , ({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityCBM__c} - {!myVariable_current.Measurement__c}))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c ) &lt; 0, 0,[clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c.clofor_com_cfs__CurrentOccupiedCapacityKG__c - [clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_5_A1_5890546550</name>
        <dataType>Number</dataType>
        <expression>IF(({!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c} ) &lt; 0, 0,{!myVariable_current.StockLocator__r.CurrentOccupiedCapacityKG__c} - {!myVariable_current.GrossWeight__c} )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE &amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId) || ISNEW()
|| (ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Planning&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype} &amp;&amp;
(ISCHANGED({!myVariable_current.RecordTypeId}) || ISNEW()
|| (ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Planning&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId) ||  ISNEW()
|| (ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Completed&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
(ISCHANGED({!myVariable_current.RecordTypeId}) ||  ISNEW()
|| (ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Completed&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Planning&apos; &amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Completed&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Planning&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Completed&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Planning&apos;&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Cancelled&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Planning&apos;&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Cancelled&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Completed&apos;&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Cancelled&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Completed&apos;&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Cancelled&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ))&amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c )
|| ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  )
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED({!myVariable_current.StockStatus__c} ))&amp;&amp;
(ISCHANGED({!myVariable_current.Measurement__c} )
|| ISCHANGED({!myVariable_current.GrossWeight__c}  )
|| ISCHANGED({!myVariable_current.RecordTypeId}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ,&apos;Completed&apos;)&amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c )
|| ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  )
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED({!myVariable_current.StockStatus__c} ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c} ,&apos;Completed&apos;)&amp;&amp;
(ISCHANGED({!myVariable_current.Measurement__c} )
|| ISCHANGED({!myVariable_current.GrossWeight__c}  )
|| ISCHANGED({!myVariable_current.RecordTypeId}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
(ISNEW()
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId)
|| (ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Planning&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
(ISNEW()
|| ISCHANGED({!myVariable_current.RecordTypeId})
|| (ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Planning&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Completed&apos; &amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Planning&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Completed&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Planning&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
(ISNEW()
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId)
|| (ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Completed&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_49</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
(ISNEW()
|| ISCHANGED({!myVariable_current.RecordTypeId})
|| (ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Cancelled&apos; ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Completed&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_IN_RECORDTYPE&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Completed&apos; &amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Planning&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_in_recordtype}&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Completed&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Planning&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Planning&apos; &amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Completed&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_55</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Planning&apos; &amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Completed&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Planning&apos;&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Cancelled&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_59</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Planning&apos;&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Cancelled&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK([clofor_com_cfs__Stock__c].clofor_com_cfs__StockLocator__c))&amp;&amp;
[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==&apos;StockOut&apos;&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c )&amp;&amp;
PRIORVALUE([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c) ==&apos;Completed&apos;&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c, &apos;Cancelled&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_63</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!myVariable_current.StockLocator__c}))&amp;&amp;
{!myVariable_current.RecordType.DeveloperName} ==&apos;StockOut&apos;&amp;&amp;
NOT(ISNEW())&amp;&amp;
ISCHANGED({!myVariable_current.StockStatus__c} )&amp;&amp;
PRIORVALUE({!myVariable_current.StockStatus__c}) ==&apos;Completed&apos;&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c}, &apos;Cancelled&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ))&amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c )
|| ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  )
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_69</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED({!myVariable_current.StockStatus__c} ))&amp;&amp;
(ISCHANGED({!myVariable_current.Measurement__c} )
|| ISCHANGED({!myVariable_current.GrossWeight__c}  )
|| ISCHANGED({!myVariable_current.RecordTypeId}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].RecordType.DeveloperName ==$Label.STOCK_OUT_RECORDTYPE&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ))&amp;&amp;
ISPICKVAL([clofor_com_cfs__Stock__c].clofor_com_cfs__StockStatus__c ,&apos;Completed&apos;)&amp;&amp;
(ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__Measurement__c )
|| ISCHANGED([clofor_com_cfs__Stock__c].clofor_com_cfs__GrossWeight__c  )
|| ISCHANGED([clofor_com_cfs__Stock__c].RecordTypeId))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_73</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} =={!$Label.clofor_com_cfs__stock_out_recordtype}&amp;&amp;
NOT(ISNEW())&amp;&amp;
NOT(ISCHANGED({!myVariable_current.StockStatus__c} ))&amp;&amp;
ISPICKVAL({!myVariable_current.StockStatus__c} ,&apos;Completed&apos;)&amp;&amp;
(ISCHANGED({!myVariable_current.Measurement__c} )
|| ISCHANGED({!myVariable_current.GrossWeight__c}  )
|| ISCHANGED({!myVariable_current.RecordTypeId}))</expression>
    </formulas>
    <interviewLabel>UpdateActualCurrentOccupiedCapacityLocator-7_InterviewLabel</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Update Actual &amp; Current Occupied Capacity Locator</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Stock__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update Actual &amp; Current Occupied Capacity</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_12_myRule_11_A1_0281125400</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_13_myRule_11_A1_2491164331</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_14_myRule_11_A1_1764615711</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_15_myRule_11_A1_6803991357</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_18_myRule_17_A1_9864909801</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_19_myRule_17_A1_8224255174</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_20_myRule_17_A1_8462019187</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_21_myRule_17_A1_2885774497</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_7769593086</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1918667049</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision26</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_24_myRule_23_A1_9951538695</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_25_myRule_23_A1_0158337619</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_28_myRule_27_A1_1589713633</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_29_myRule_27_A1_7395381123</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_30_myRule_27_A1_8111656977</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_31_myRule_27_A1_3632931741</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision36</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_34_myRule_33_A1_7225375744</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_35_myRule_33_A1_1810575013</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_38_myRule_37_A1_9780479695</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_39_myRule_37_A1_4661054656</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_41_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>4100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_42_myRule_41_A1_9355592401</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_43_myRule_41_A1_0224446432</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_46_myRule_45_A1_6567848880</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_47_myRule_45_A1_2088560318</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_49_A1</name>
        <label>Update Actual &amp; Current Occupied Capacity</label>
        <locationX>4900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_50_myRule_49_A1_1109724603</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_51_myRule_49_A1_3066092530</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_52_myRule_49_A1_9748688536</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_53_myRule_49_A1_0820478215</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_55_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>5500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_56_myRule_55_A1_8625909270</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_57_myRule_55_A1_0235269607</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_59_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>5900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision62</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_60_myRule_59_A1_4862155022</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_61_myRule_59_A1_3641765871</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_7406404932</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_5202694259</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_8_myRule_5_A1_8469510050</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_9_myRule_5_A1_5890546550</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_63_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>6300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_64_myRule_63_A1_4506210732</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_65_myRule_63_A1_4810595462</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_66_myRule_63_A1_1902072210</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_67_myRule_63_A1_0257003970</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_69_A1</name>
        <label>Update Actual Occupied Capacity</label>
        <locationX>6900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision72</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_70_myRule_69_A1_9326021103</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ACTUAL OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ActualOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_71_myRule_69_A1_5977933573</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[clofor_com_cfs__Stock__c].STOCK LOCATOR</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_73_A1</name>
        <label>Update Current Occupied Capacity</label>
        <locationX>7300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.StockLocator__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(CBM)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityCBM__c</field>
            <value>
                <elementReference>formula_74_myRule_73_A1_7543690084</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CURRENT OCCUPIED CAPACITY(KG)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CurrentOccupiedCapacityKG__c</field>
            <value>
                <elementReference>formula_75_myRule_73_A1_1123732436</elementReference>
            </value>
        </inputAssignments>
        <object>LOCATOR__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Stock__c</objectType>
    </variables>
</Flow>
